@media (min-width: 1101px) and (max-width: 1343px) {
#headFi .carousel-caption h1{font-size: 55px;}   
.box-wight li input{width: 335px;}
#tracking__track > ul.secd_drive li .set-del-link, #tracking__track > ul.secd_drive li .button_drive{width: 232px;}
.box-wight {margin-top: 20px!important; width: 78%;}
}

@media (min-width: 992px) and (max-width: 1100px) {
.menu_sec .navbar-nav li a{padding:0 8px 8px;}
.welcome_sec > h2 { font-size: 40px; line-height: 46px;}
.welcome_sec span{font-size:41px;}
.red-more span { font-size: 15px;}
.welcome_sec input.form-control { height: 38px; line-height: 34px; width: 296px !important;}
.red-more { margin-bottom: 19px; margin-top: 18px;}
.welcome_sec > h3 { font-size: 24px; margin-bottom: 12px; padding-top: 8px;}
.welcome_sec > h3::first-letter { font-size: 32px;}
.welcome_sec .form-inline .btn, .shop-now { height: 38px; line-height: 24px;}
.welcome_sec form { margin-bottom: 20px;}
.paragraph{font-size:13px;}
.arrivals-slider { padding: 40px 0 35px;}
.slider-arrival .owl-buttons .owl-next { right: -25px;}
.slider-arrival .owl-buttons .owl-prev { left: -25px;}
.tetele-text { margin-bottom: 30px;}
.save-sec img { margin-left: 0;}
.save-cont { max-width: 500px; right: 0;}
.save-sec .shop-now { line-height: 36px; vertical-align: middle;}
.blog_sec .item:hover .slide-hover-cont { right: -111.5%;}
.slide-hover-cont { padding: 15px;}
.slide-hover-cont h4, .slide-hover-cont .date, .slide-hover-cont .read-more{margin-bottom:12px;}
.slide-hover-cont .paragraph { margin-bottom: 10px;}
.prodect_slider .carousel::after { background-position: 0 -2px; background-size: 100% auto;}
.prodect_slider .shop-now { line-height: 38px;}
.prodect_slider .img-responsive {min-height: 627px;}

.sliderSection .carousel-caption{ top: 75px;}
.sliderSection .carousel-caption h4{ font-size: 30px;}
.sliderSection .carousel-caption h2{ font-size: 50px;}
.box-wight h3{ margin: 0 0 5px;}
#headFi .ing-block{  width: 100%; min-height: 430px;}
.menu_sec .primary-menu.nav.navbar-nav { margin-left: 25px;}
.left.carousel-control {left: 15px;}
.right.carousel-control {right: 15px;}
.sliderSection .carousel-caption{left:10%;}
.box-wight li input{padding: 5px 10px; width:305px;}
#tracking__track > ul.secd_drive li .set-del-link, #tracking__track > ul.secd_drive li .button_drive{width: 235px;}
.execphpwidget > p br { display: none;}
.box-wight { padding: 15px 20px 20px; width: 538px;}
.img-right { right: 50px; width: 240px;}
.helping-sce { padding: 50px 0 0;}
.helping-sce .titele-text + .paragrph {margin-bottom: 40px;}
.maile-footer .footer-links > li, .maile-footer .footer-links > li a{font-size: 15px;}
.img-post{right: 20px;}
.zoom-img-help, .zoom-img-bor{height: 310px;}
.zoom-img-bor { height: 340px;}
.community .help-let_h3{margin-top: 30px;}
.discount h2{font-size: 45px;}
.serves-cont { margin-bottom: 20px; margin-top: 0;}
.helping-sce .zoom-effct { margin-top: 75px; padding: 0 15px; text-align: center;}
.client-zone-icon.text-center.clienticon2 { margin-top: -15px;}
.client-zone-icon{margin-top: -50px;}
.social_icon li a{margin-left: 12px;}
.carreer_box h4{font-size: 16px;}
.carreer_box span{font-size:15px;}
.carreer_box > p {font-size: 13px;}
.carreer_box .mail { float: left; font-size: 15px;}
#primary h1.testimonial-text { font-size: 22px;}


.business_region > li{width: 265px;}
.business_content > p{margin-bottom: 55px;}
.section-head{font-size: 18px; margin-bottom: 20px;}
.send_a_parcel .business_region > li { width: 48%;}
.send_weight .business_region > li { width: 18.6% !important;}
.yodeldirect .business_region select.form-control, .yodeldirect  .form_enquiry .enquiry select{ background-position: 100% 20px; background-size: 22px auto;}
.yodeldirect .business_region .form-control, .yodeldirect .send_weight .business_region input{font-size:14px;}
.client-zone-page .login-track ul li { margin-right: 12px;}
.understand_sec .cta-header{font-size:28px}
.inqurey_input{width: 29%;}
#headFi .carousel-caption h1{font-size: 50px; line-height: 65px;}
.sliderSection .carousel-caption { left: 12%; right: 13%;top: 120px;}
.carousel-caption .box-wight { margin-top: 34px;}
.zone-content{padding: 24px; }
.client-zone-img .zoom-effct { max-height: 200px;}
.pages_content{padding: 35px 0 !important;}
#tracking__track .business_region > li:first-child { width: 414px;}
.business_needs .block__title{font-size: 22px; line-height: 22px; margin-bottom: 8px;}
.business_needs > p { margin: 0;}
#primary p { font-size: 15px !important; line-height: 22px;}
.needs_but .btn.btn--black { font-size: 15px; padding: 6px 22px;}
.become_driver.track-cont h2{font-size: 2.2rem;}
.business_region > li label{font-size:22px;}
.business_region button.form-control { height: 62px; margin-top: 45px;}
.page-id-10 .business_content h2{line-height: 40px;}
.your_business_page{padding: 100px 0 80px;}
.form-help form{width: 65%;}
.parsel_container .order-cont .gray_box .name input[type="text"] { width: 40%;}
.parsel_container .order-cont .gray_box .col-md-4.col-sm-5 .form-control.my_parcel_detail, .order-cont .pcontent .form-control.my_parcel_detail { width: 100%;}
.parsel_container .order-cont .gray_box .input-group {  width: 100%;}
.parsel_container .gray_box label{display:block;}
.form_enquiry .chek_box input { height: 27px !important;}
.enquiry > label, .form-group label{font-size:1.5rem;}
.enquiry .your-message textarea { height: 100px !important;}
.page-id-37 .help_main-cont{width:100%;}
#tracking__track .business_region > li:first-child{max-width: 404px; width: 100%;}
.track-parcel .masthead__findtrack{margin-left: 67px;}
.business_content { margin-top: 55px;}
.business_content h2{line-height: 80px; font-size: 65px;}   
    
    
}



@media (min-width: 768px) and (max-width: 991px) {
.client-zone-icon { margin-top: -60px;}
.form_enquiry .chek_box input {height: 27px !important;}
#primary h1.testimonial-text { font-size: 20px; margin-bottom: 20px;}
.social_icon li a{ margin-left: 5px;}
.menu_sec .primary-menu.nav.navbar-nav{ margin-left: 0;}
.logo > img { max-width: 100%;}
.sliderSection .carousel-caption {left: 8%;right: 8%;top: 110px;}
.carousel-caption .box-wight {margin-top: 0;}
.sliderSection .carousel-caption h4{ font-size: 20px; margin-bottom: 10px;}
.header-right.pull-right { padding-left: 0;}
.sliderSection .carousel-caption h2{ font-size: 35px;}
.menu_sec .navbar-nav li a { font-size: 12px; padding: 0 6px 8px;}
.box-wight .widget.widget_execphp{ margin-bottom: 10px;}
.login_sec { padding-bottom: 5px;}
.box-wight{ padding: 10px 15px;}
.box-wight h3{ margin: 0 0 6px;}
.img-right img{ width: 180px;}

#headFi .ing-block{ min-height: 325px;}
.left.carousel-control{ left: 0;}
.right.carousel-control{ right: 0;}

.helping-sce{ padding: 50px 0 30px;}
.helping-cont{ width: 100%;}
.serves-cont{ margin-top: 30px;}
.zone-content{ padding: 15px; height: 193px;}
.zone-content .more{ padding: 8px 20px; font-size: 13px; margin: 0;}
.zone-content .paragrph{ font-size: 13px; line-height: 18px;}
.client-zone-icon.text-center.clienticon2{ margin-top: -34px;}
.zone-content .purpel-text{ margin-bottom: 5px; padding-bottom: 5px; font-size: 18px;}
.have_your_sec{ margin-top: 35px; padding: 70px 0 0;}
.title_text_red{ font-size: 50px;}
.img-boy{ max-width: 50%;}
.discount{ padding-top: 20px;}
.discount h2{ font-size: 30px; margin-bottom: 10px;}
.discount h3{ font-size: 22px;}
.discount a{ padding:15px 30px 15px 80px; font-size: 30px;}
section.help-let{ border:none; padding: 0;}
.help-let_h3{ border:none; font-size: 25px; line-height: 35px;}
.lehp-img-cont{ margin-top: 40px;}
.img-post{ width: 60%; right: 0;}
.zoom-img-help{ width: 55%;}
.zoom-img-bor{ height: auto;}
.expert-cont{ left: 40px; top: 30px;}
.expert-cont h2{ font-size: 30px; line-height: 40px;}
.expert-cont a{ margin-top: 10px;}
.community .help-let_h3 { font-size: 35px; margin-bottom: 20px; margin-top: 15px;}
.community_sec .grid-col{ width: 48%; margin-left: 2%;}
.grid-col:first-child{ margin-left: 0;}
.item-business{ margin: 0 auto; max-width: 80%;}
.social-count-plus li{ padding: 0 5px;}
.social-count-plus li a.icon i{ font-size: 35px; line-height: 40px; margin: 0 10px 45px 0;}
.social-count-plus .label{ padding: 0;}
.social-count-plus .items .name{ font-size: 16px;}
.footer_title{ font-size: 14px;}
.maile-footer .footer-links > li, .maile-footer .footer-links > li a{ font-size: 12px; margin-bottom: 10px;}
.footer-links span{ font-size: 13px; margin-right: 5px;}
.copy-right{ padding: 10px 0;}

.helping-sce .zoom-effct > img{ width: 90%;}
.welcome_sec > h2 {font-size: 28px; line-height: 35px; margin-bottom: 0px;}
.welcome_sec span{font-size:30px;}
.paragraph { font-size: 13px; line-height: 20px;}
.red-more > span { font-size: 14px; height: 25px; line-height: 25px;  width: 25px;}
.red-more {font-size: 14px; line-height: 25px; margin-bottom: 14px; margin-top: 13px;}
.welcome_sec > h3 { font-size: 19px; margin-bottom: 12px; padding-top: 8px;}
.welcome_sec > h3::first-letter {font-size: 24px;}
.welcome_sec input.form-control { background-position: 11px 11px; background-size: 14px auto; height: 34px; line-height: 34px; padding-left: 33px; width: 240px !important;}
.welcome_sec .form-inline .btn, .shop-now { font-size: 17px; height: 34px; line-height: 20px; margin-left: 5px; width: 90px;}
.welcome_sec form { margin-bottom: 12px;}
.prodect_slider .item img { min-height: 530px;}
.welcome_sec form { margin-bottom: 15px;}
.box-content > h3{font-size: 18px;}
.arrivals-slider { padding: 35px 0 20px;}
.tetele-text{margin-bottom: 25px;}
.slider-arrival .owl-buttons .owl-prev {left: -15px;}
.slider-arrival .owl-buttons .owl-next {right: -15px;}
.save-sec img { margin-bottom: -35px; margin-left: 0; width: 60%;}
.save-cont {  max-width: 350px; right: 70px; top: 0;}
.save-sec h1 {border-bottom: 4px solid #ffffff; font-size: 45px; line-height: 48px; padding-bottom: 2px;}
.save-sec p br { display: none;}
.save-sec p { font-size: 14px; line-height: 18px; margin-bottom: 6px;}
.save-sec .shop-now { font-size: 15px; line-height: 34px;}
hr.full-gray-hr{margin-bottom:20px;}
.blog_sec .paragraph > br { display: none;}
.blog_sec.arrivals-slider{padding-bottom:40px;}
.footer hr{margin-top: 25px;}
.col-md-3.col-sm-3.adders { padding: 0;}
.footer-title { font-size: 14px;}
.footer-links.socialicon-footer a { background-size: 25px auto; height: 25px; width: 25px;}
.footer-links.socialicon-footer > li:nth-child(2) a:hover { background-position: 0 -27px;}
.footer-links.socialicon-footer > li:first-child a:hover { background-position: 0 -27px;}
.footer-links.socialicon-footer > li:last-child a:hover { background-position: 0 -27px;}
.newsleetter-form{width:400px;}
.newsleetter-form input[type="email"] { font-size: 15px; height: 40px; max-width: 275px; padding-left: 20px;}
.subscribe-btn { height: 40px; padding: 6px 23px;}
.text-large{font-size:22px;}
.prodect_slider .carousel::after { background-position: 0 -2px; background-size: 100% auto;}
.prodect_slider .shop-now {line-height: 32px; width: 155px;}
.prodect_slider .carousel-caption > h3 { font-size: 30px; line-height: 40px;}
.prodect_slider .carousel-control { width: 15%;}
.carrer_test .carreer_box:nth-of-type(2n+2){margin-right:0}	

.carreer_box{width: 48%;}
.carrer_test .carreer_box:nth-of-type(3n+3){margin-right: 2% ;}	
.business_content h2{font-size: 65px;}
.business_content > p { font-size: 22px; line-height: 35px; margin-bottom: 90px; margin-top: 40px;}
.your_business_page{padding: 80px 0 50px;}
#primary .carreer_box h4{font-size:19px;}
.customize-support  .entry-content { margin: 0 30px!important;}


.business_region > li label{font-size:22px;}
.business_region > li{width:235px;}
.cta-header{font-size: 18px; padding-top: 35px; line-height: 65px;}
.btn--black{font-size: 20px; }
.business_needs_sec { padding: 10px 0;}
.business_needs_sec h2 { font-size: 24px; margin-bottom: 25px;}
.business_needs .block__title { font-size: 1.8rem; line-height: 2.4rem; margin-bottom: 8px;}
.business_needs > p { font-size: 14px; line-height: 18px; margin-top: 5px;}
.needs_but .btn.btn--black { font-size: 15px; padding: 5px 16px;}
.business_region button.form-control{margin-top: 43px;}
.business_content > p { margin-bottom: 25px; margin-top: 15px;}
.business_region .form-control, .send_weight .business_region input{font-size:15px;}
.business_region select.form-control, .form_enquiry .enquiry select{background-position: 100% 17px; background-size: 28px auto;}
.page-id-10 .business_content h2{line-height: 40px;}


.yodeldirect .send_a_parcel .business_region li label { font-size: 12px !important; font-weight: normal;}
.yodeldirect  .send_a_parcel .business_region > li { width: 48%;}
.yodeldirect  .send_weight .business_region > li { width: 17.6%!important;}
.yodeldirect  .business_region .form-control, .send_weight .business_region input { font-size: 12px; height: 45px;}

.client-zone-page .login-track ul li{margin-right:8px;}
.client-zone-page .become_driver{width:99%;}
#primary .entry-content{margin:0 30px;}
.inqurey_input { width: 28.3%;}
.enquiry + hr, .hr_border{margin: 15px 0 35px;}
.wpcf7 .form_enquiry{padding: 56px 0 55px;}
.wpcf7 .form_enquiry h3{font-size: 2.5rem;}
.wpcf7 .form_enquiry .enquiry > label{font-size: 1.3rem;}
.enquiry select , .enquiry textarea {font-size: 1.6rem;} 
#headFi .carousel-caption h1 { font-size: 35px; line-height: 48px;}
.box-wight{width: 85%;}
.box-wight li input{width: 325px ;}
#tracking__track > ul.secd_drive li .set-del-link, #tracking__track > ul.secd_drive li .button_drive{width: 245px;}
.titele-text{font-size:30px;}

#tracking__track .business_region { margin-left: 65px;}
#tracking__track .business_region > li:first-child { width: 350px;}
.pages_content{padding: 30px 0 !important;}
.business_needs{padding: 0 5px; top: 15px;}
#primary p { font-size: 14px !important;}
.business_needs > p { margin: 0;}
.needs_but .btn.btn--black {font-size: 13px; padding: 2px 12px}
.needs_but{bottom: 4px;}
.track-hedding {margin-bottom: 30px;  margin-top: 22px;}
.become_driver.track-cont h2{font-size: 2.1rem;}
.become_driver p { margin-bottom: 5px;}
.inner-cont-trek, .distributor_title { margin-bottom: 20px; padding-bottom: 15px;}
.help_page .taxonomies_name{height: 145px;}
.help_page .taxonomies_name a { font-size: 18px; line-height: 145px;}
.form-help form{width: 80%;}
.business_region select.form-control, .form_enquiry .enquiry select { background-size: 15px auto;}
.order-cont .col-md-8.col-sm-7.name { width: 100%;}
.order-cont .col-md-8.col-sm-7.name + .col-md-4 { width: 100%;}
.order-cont .pcontent .form-control.my_parcel_detail , .parsel_container .order-cont .gray_box .input-group { width: 100%;}
.parsel_container .gray_box label{display:block;}
.parsel_container .order-cont .gray_box .col-md-4.col-sm-5 .form-control.my_parcel_detail { width: 54.5%;}
.parsel_container .order-cont .gray_box .name input[type="text"] { width: 43.5%;}
.become_driver h4 {font-size: 2rem;}
.become_driver .border_text > h3 , .become_driver.post_driver .entry-content h4 , .become_driver.post_driver .entry-content h3{font-size: 2rem;}
.page-id-37 .help_main-cont{width:100%;}
.order-cont .control-label {font-size: 14px; padding: 0;}
.order-cont .form-control{font-size: 14px;}
.track-parcel .masthead__findtrack{margin-left: 80px;}
.your_business_page { padding: 100px 0 50px;}
.pagination .nav-links::after {  content: "";  right: 55px;  top: 0 !important;}
.business_content { margin-top: 40px;}

}


@media (max-width: 767px){
#tracking__track > ul .treck-number {width: 100%;}
#tracking__track .treck-number { margin-left: 0;}
#tracking__track > ul.secd_drive li .set-del-link, #tracking__track > ul.secd_drive li .button_drive { margin: 0 0 10px; width: 100%; font-size: 14px; line-height: 20px; height: auto;}
.secd_drive {margin-top: 12px;}
.post-160 #wpcf7-f159-p160-o1.wpcf7 { padding: 0 15px !important;}
.wpcf7-form.invalid{width:100%;}
.enquiry span input, .enquiry select, .enquiry .your-message textarea, .collection_details .form-control{height:40px!important;}
.form_enquiry2 .sumbit_btn input { float: left; font-size: 13px; padding: 8px 15px;}
#wpcf7-f159-p160-o1 .wpcf7-response-output { bottom: 8px;font-size: 12px; left: auto; right: 0;}
#wpcf7-f159-p160-o1 .wpcf7-response-output.wpcf7-mail-sent-ok {bottom: -6px; right: 15px; width: 60%;}
.form_enquiry .chek_box input { height: 27px !important;}
.become_driver.post_driver .ourservies h2 { font-size: 15px;}
.post-53 .become_driver.post_driver .ourservies strong { font-size: 13px;}
.restricted table th {  width: 85% !important;}
.become_driver.post_driver .entry-content h4 , .become_driver.post_driver .entry-content h3{font-size: 1.6rem; text-align: left;}
.text-center.save-cont br {  display: none;}
.text-center.save-cont > p {padding: 0 15px;}
.prodect_slider .carousel-control { width: 15%;}
.welcome_sec .form-inline .btn, .shop-now{font-size:15px;}
.logo { display: block; float: none; margin: 0 auto; width: 185px;}
.logo > img { max-width: 100%;}
.header-right.pull-right { width: 100%;}
.login_sec { display: flex; float: none; margin: 12px auto 0; padding: 0;  width: 175px;}
.menu_sec { width: 100%;}
.menu_sec  .navbar-toggle { background: #a54ed0 ; border-color: #a54ed0; color: #fff; margin: 0;}
.menu_sec  .navbar-default .navbar-toggle .icon-bar { background-color: #fff;}
.menu_sec .navbar-toggle:hover , .menu_sec .navbar-toggle:focus {background:#000; border-color:#000;}
.menu_sec .navbar-default{min-height:0;}
.menu_sec  .navbar-nav { margin: 0;}
.menu_sec .navbar-nav li a{border-top:0; padding: 10px 0 5px;}
.menu_sec .navbar-collapse { border-top: 0 ; box-shadow: none; overflow-x: visible; padding-left: 0; padding-right: 0;}
.welcome_sec > h2 { font-size: 35px; line-height: 50px;  text-align: center;}
.welcome_sec span{font-size:40px;}
.welcome_sec .paragraph { font-size: 13px; line-height: 20px; text-align: center;}
.red-more { margin: 0 auto 12px; font-size:14px; }
.red-more > span { font-size: 15px; line-height:25px; width:25px; height:25px;}
.welcome_sec > h3 { text-align: center;}
.welcome_sec > h3::first-letter {font-size: 34px;}
.welcome_sec > h3{font-size:24px;margin-bottom: 15px; padding-top:12px;}
.welcome_sec .input-group{display:inline-block; vertical-align:middle;}
.welcome_sec input.form-control { background-size: 16px auto;  height: 35px; line-height: 35px; padding-left: 25px; width: 100% !important; background-position: 5px 10px;}
.welcome_sec .form-inline .btn, .shop-now { height: 35px; line-height: 20px; margin-left: 0; width: 78px;}
.input-group { width: 71%;}
.img-box { display: block; margin-bottom: 20px; width: 100%;}
.img-box img{ width:100%; max-width:100%;}
.prodect_slider .carousel-caption { left: 15px; top: 113px; width: 80%;}
.prodect_slider .carousel-caption h4, .prodect_slider .carousel-caption h3 {font-size: 18px; margin-bottom: 5px;}
.prodect_slider .carousel-caption > h3 { font-size: 26px; line-height: 30px; margin-bottom: 20px;}
.prodect_slider .shop-now { line-height: 31px; width: 110px;}
.arrivals-slider { padding: 20px 0 10px;}
.reletive-cont { margin: 0 auto; width: 90%;}
.slid-img { width: 100%;}
.slid-img > img { width: 100%;}
.slider-arrival .owl-buttons .owl-prev { left: -8px;}
.slider-arrival .owl-buttons .owl-next { right: -8px;}
.save-cont { max-width: 100%; position: static;right: 0; top: 55px;  width: 100%;}
.save-sec{padding-top: 22px; margin-bottom: 0; padding-bottom:20px;}
.save-sec img { margin-bottom: 0; margin-left: 0;}
.save-sec h1 { border-bottom: 4px solid #ffffff;  font-size: 40px; line-height: 45px; padding-bottom: 2px;}
.save-sec p { color: #623279;  font-size: 14px; line-height: 18px; margin-bottom: 15px;}
.save-sec .shop-now { line-height: 32px; width: 110px;}
.tetele-text > span {margin: 0 20px;}
hr.full-gray-hr { margin-bottom: 25px;}
.arrivals-slider.featured-prodect.fw { padding-bottom: 20px;}
.blog_sec .tetele-text { margin-bottom: 10px;}
.blog_sec .item { display: block !important; float: none !important; margin: 0 auto !important; width: 95% !important;}
.blog_sec .item > h3 { font-size: 18px; margin-bottom: 0;  padding: 8px 0;}
.blog_sec .item:hover .slide-hover-cont { right: 0;}
.slide-hover-cont::after{display:none;}
.slide-hover-cont{padding:12px;}
.slide-hover-cont h4, .slide-hover-cont .date, .slide-hover-cont .read-more { font-size: 16px; margin-bottom: 10px;  padding-bottom: 2px;}
.slide-hover-cont{overflow:auto;}
.slide-hover-cont .paragraph { margin-bottom: 10px;}
.blog_sec.arrivals-slider { padding-bottom: 25px;}
.facebook-sec-cont , .instagram-sec , .pintrest-sec { margin-bottom: 15px;}
.newsletter-section hr { margin: 0 0 12px;}
.text-large{font-size:22px ; text-align:center; margin: 0 0 10px;}
.subscribe-btn{padding: 6px 10px; height: 34px;}
.newsleetter-form input[type="email"] { font-size: 13px; height: 34px; max-width: 61%; padding-left: 10px;}
.bottom-footer-section { padding:30px 0 8px;}
.footer-links { margin-bottom: 22px;}
.footer-title { font-size: 16px; margin-bottom: 15px; margin-top: 0; padding-bottom: 4px;}
.bottom-footer-section  .col-md-3.col-sm-3.text-right { text-align: left;}
.social-section img { width: 100%;}
.welcome-prodect .img-responsive { width: 100%;}
.img-box::after{height: 36px;}
.prodect_slider .carousel:after { background-position: 0 -2px; background-size: 100% auto;}
.menu_sec .navbar-toggle .icon-bar{border: 1px solid #ffffff;}
.header .logo{width: 130px;}
.menu_sec { margin-top: 10px; padding-top: 0;}
.menu_se .navbar-toggle{margin:0;}
.menu_sec .navbar-header { float: left;}
.menu_sec .social_icon{margin-top: 5px;}
.sliderSection .carousel-caption{position:static;}
#headFi .ing-block { min-height: 1px;}
.img-right { bottom: auto; margin-right: -35px; position: absolute; right: 50%; top: -1px; width: 25%;}
.sliderSection .carousel-caption{background:#7f3f98; padding-left: 15px; padding-right: 15px;}
.sliderSection .carousel-caption h4{font-size: 20px;}
.sliderSection .carousel-caption h2 { border-bottom: 2px solid #ffffff; font-size: 35px; padding-bottom: 0;}
.box-wight { box-shadow: 0 0 3px #575757; float: left; line-height: 24px; padding: 20px 27px 27px;}
.sliderSection { background: #7f3f98 ; padding-bottom: 15px;}
.margin-text { margin-bottom: 20px;}
#headFi .right.carousel-control { right: 15px;}
#headFi .left.carousel-control { left: 15px;}
.helping-cont { width: 100%;}
.sliderSection .carousel-control { bottom: auto; height: 30px; line-height: 30px; top: 145px; width: 30px;}
.sliderSection .carousel::after{display:none;}
.box-wight { padding: 10px 15px 5px;}
.box-wight h3{margin: 0 0 5px; font-size: 18px;}
.execphpwidget br { display: none;}
.box-wight li { float: left; margin-right: 0; width: 100%;}
.box-wight li input {  height: 36px !important; line-height: 36px; margin-bottom: 10px; padding: 5px 15px 5px 10px; width: 100%;}
.box-wight li:last-child input{width:100%;}
.box-wight .widget.widget_execphp { margin-bottom: 10px;}
.helping-sce { padding: 25px 0 0;}
.titele-text{font-size:18px;}
.paragrph { font-size: 13px; padding: 0 15px;}
.helping-sce .titele-text + .paragrph { margin-bottom: 0;}
.helping-sce .col-md-4.col-sm-4 { padding: 0 15px!important; text-align: center;}
.serves-cont { margin-top: 24px;}
.serves-cont > span { display: inline-block; float: none; margin-bottom: 10px; margin-right: 0;}
.serves-cont .helping-cont .paragrph{text-align:center; padding: 0;}
.client-zone-img { padding: 0 15px !important; margin-bottom: 20px;}
.zone-content{padding: 50px  10px 15px;}
.zone-content .purpel-text{padding-bottom: 4px;}
.zone-content  .paragrph{ padding:0;}
.more{margin-top: 4px; padding: 7px 25px;}
.client-zone-icon{margin-top: -25px;}
.client-zone-icon.text-center.clienticon2 { margin-top: -25px;}
.client-zone { padding-top: 20px;}
.client-zone-img:nth-child(2) .zone-content{padding-bottom:50px;}
.have_your_sec{margin-top: 15px; padding: 55px 0 5px;}
.title_text_red { font-size: 26px; line-height: 35px;}
#execphp-7 .paragraph { font-size: 13px; line-height: 20px; margin: 0 0 15px; padding: 0 15px;}
#execphp-7 { padding-top: 0;}
.have_your_sec::after{background-size:100%; background-position: 0 2px;}
.have_your_sec{background-attachment:fixed;}
.discount { padding-top: 0;}
.img-boy { margin: 0 auto; max-width: 290px; position: static;}
.discount  .execphpwidget .pull-right { float:none!important;}
.discount h2 { font-size: 25px; margin-bottom: 10px; margin-top: 10px; text-align: center; }
.discount h3 { font-size: 19px; line-height: 25px; margin-bottom: 10px;text-align: center;}
.discount .paragraph { font-size: 14px; line-height: 20px; margin: 0; text-align: center;}
.discount a { display: block; float: none; font-size: 20px;  margin: 18px auto 0; padding: 10px 40px;width: 200px;}
.discount{background-image:none;}
.help-let  .help-let_h3 { font-size: 22px; line-height: 30px; padding: 10px 15px 0; text-align: center; margin-bottom:0;}
.help-let p{font-size: 13px;}
.img-post { position: static;}
.lehp-img-cont { margin-top: 20px;}
.expert-cont h2 {font-size: 30px; line-height: 42px; text-align: center;}
.expert-cont { left: 0; padding-left: 30px;  padding-right: 30px;  top: 11px; width: 100%;}
.expert-cont{text-align:center;}
.expert-cont a { float: none!important; margin: 0 auto ; text-align: center; width: 155px;}
.expert-cont br { display: none;}
.zoom-img-bor { height: auto; margin-top: 15px;}
.community .help-let_h3 { font-size: 25px; line-height: 30px; margin-bottom: 10px; margin-top: 0; padding-top: 0;}
.community.fw.text-center { padding: 25px 0 10px;}
.community  .grid-col{padding:0 15px; margin-left: 0; margin-bottom: 15px;}
.expert-cont1{margin-top: 0;}
.expert-cont1 > h3 { font-size: 22px; letter-spacing: 0.5px; margin-top: 10px;}
.expert-cont1 > a { display: inline-block; margin-top: 35px; max-width: 55px; width: 100%;}
.business_slider{padding: 30px 15px; height: auto;}
.scarl_img img { margin-bottom: 0; max-width: 90px;}
.item-business > h3{font-size: 18px; padding: 12px 0 10px;}
.item-business > h3::after { left: 50%; margin-left: -75px;}
.item-business > p { font-size: 13px; margin: 0 auto; width: 100% !important;}
#carousel-example-generic .right.carousel-control { right: -8px;}
#carousel-example-generic .left.carousel-control { left: -8px;}
.business_slider .carousel-control { height: 30px; line-height: 30px; width: 30px; margin-top: -15px; top:50%;}
.maile-footer , .general-footer , .join-our-footer , .time-express-footer , .abou-us-footer{ padding: 0 15px; width: 100%;}
.footer  .footer-title, .footer  .footer_title { border: 0 none; font-size: 18px; margin-bottom: 0;}
.maile-footer .footer-links > li, .maile-footer .footer-links > li a { font-size: 15px; margin-bottom: 10px;}
#execphp-4 .icon i { margin-right: 15px; text-align: left; width: 45px; font-size: 45px;}
.social-count-plus li{width:100%!important;}
.follow-icon{padding: 0 0 20px;}
.bottom-footer-section { float: left;  width: 100%;}
.box-wight > ul { float: left; width: 100%;}
.menu_sec .social_icon {  margin-top: 5px; position: absolute; right: 15px; top: 0;}
.menu_sec .collapse.navbar-collapse { float: left; width: 100%;}
.menu_sec .primary-menu.nav.navbar-nav { margin-left: 0; float: left; width: 100%;}
.menu_sec .navbar-nav li a{width:100%;}
.menu_sec .navbar-header { float: left !important; width: 100%;}
.menu_sec .navbar-header button.navbar-toggle { float: left !important;}

.carreer_box{width:100%; margin-right:0;}
.business_content span { font-size: 2rem; line-height: 26px; margin-bottom: -20px;}
.business_content h2{font-size: 26px; line-height: 30px;}
.business_content > p br { display: none;}
.business_content > p { font-size: 16px; line-height: 25px; margin-bottom: 0; margin-top: 15px;}
.your_business_page{padding: 80px 0; background-attachment: initial!important;}
.site-main { margin-bottom: 0.5em;}
.carreer_box .mail{font-size: 14px;}
#wpcf7-f159-p160-o1  .form_enquiry2 .sumbit_btn input { float: left; font-size: 13px; padding: 8px 10px;}

.single-testimonial img { display: block; float: none; margin: 0 auto; width: 30%;}
.single-testimonial .graybox{text-align:center;}
.single-testimonial h3{margin: 10px 0 2px; font-size: 18px; line-height: 24px;}
.graybox > p { margin: 0; font-size: 13px;}
.testimonial-text { font-size: 16px; margin: 0 0 15px; padding: 0 15px;}
#primary  .entry-content{margin-left:15px; margin-right:15px;}
.business_region > li{width:100%!important;}
.business_region > li label{font-size: 18px; letter-spacing: 1px; padding-bottom: 0;}
.business_region .form-control, .send_weight .business_region input{height: 40px; font-size: 15px;}
.business_region select.form-control, .form_enquiry .enquiry select { background-position: 98% 8px; background-size: 28px auto;}
.business_region li:nth-child(2) label { margin-top: 15px;}
.business_region button.form-control{margin-top: 20px;}
.business_region { background: rgba(204, 204, 204, 0.8) none repeat scroll 0 0; padding: 2px 10px 10px; width: 100%;}
.btn--black { display: block !important; font-size: 16px; line-height: 21px; margin: 16px auto 0; max-width: 100%; padding: 6px 23px; width: 300px; float: none !important;}
.page-id-10 .needs_box { margin-bottom: 28px;}
.business_needs_sec { padding: 30px 0;}
.cta-header { float: left; font-size: 20px; line-height: 28px; margin-bottom: 0; padding-bottom: 0; padding-right: 0; padding-top: 25px; width: 100%; display: block;}
.business_needs_sec h2 { font-size: 20px; margin-bottom: 20px; padding: 0 15px;}
.business_needs .block__title { font-size: 17px; line-height: 25px;}
.business_needs > p {font-size: 14px; line-height: 20px; margin-top: 0;margin-bottom: 0;}
.needs_box{margin-bottom: 10px;}
.needs_but { bottom: auto; top: 185px;}
.needs_but .btn.btn--black { font-size: 16px; margin: 0 auto; width: 70%;}
.yodeldirect .send_a_parcel .business_region > li { width: 100%; max-width:100%;}
.yodeldirect .send_weight .business_region > li { width: 100%;}
.yodeldirect .section-head { font-size: 16px; margin-bottom: 16px; margin-top: 15px;}
.yodeldirect  .send_a_parcel .business_region li label { font-size: 16px !important;}
.business_region{margin-bottom: 20px;}
.business_content { margin-bottom: 10px;}
.client-zone-page .partner-page { text-align: center;}
.client-zone-page .become_driver { display: inline-block; float: none; margin: 0 auto; width: 95%;}
.client-zone-page .login-track ul li { margin-bottom: 10px; margin-right: 0; width: 100%;}
.client-zone-page .login-track ul li:last-child input {margin-top: -18px;  vertical-align: top; width: 100%;}
#post-55  .becomepage + div.wpcf7-mail-sent-ok { bottom: 8px; font-size:11px;}
#post-55  .become_driver + .become_driver { padding-bottom: 35px;}
#post-55 .becomepage + div.wpcf7-mail-sent-ok { bottom: 8px; font-size: 11px; left: 12px; right: auto; width: 92%;}
.become_driver .becomepage + div.wpcf7-validation-errors { bottom: -7px; font-size: 11px; left: 10px; padding: 3px 15px; right: auto; width: 90%;}
.wpcf7 .form_enquiry {  padding: 20px 0;}
.wpcf7-form  .enquiry span { width: 100%;}
.wpcf7-form  .enquiry > label { width: 100%; line-height: 35px; font-size: 1.5rem;}
.wpcf7-form .enquiry span input, .enquiry select, .wpcf7-form .enquiry .your-message textarea{padding: 4px 8px; height: 40px; font-size: 1.4rem;}
.wpcf7-form  .form_enquiry2 { width: 94%;}
.wpcf7-form .form_enquiry h3{font-size: 2rem; margin: 0;}
.wpcf7-form  .enquiry { margin-bottom: 8px;}
.wpcf7-form   .enquiry + hr, .hr_border { border-width: 1px; margin: 15px 0 10px;}
.wpcf7-form .inqurey_input { width: 48.8%;}
.wpcf7-form   .enquiry h4{font-size: 1.8rem; margin-bottom: 5px;}
.enquiry .your-message textarea { height: 100px !important;}
.capcha{width:100%;}
.sumbit_btn { float: left; margin-top: 15px; width: 100%;} 
.capcha .wpcf7-form-control-wrap{overflow:auto;}
.form_enquiry2 .sumbit_btn input{float:left ; padding: 12px 24px;}
#sectors span { display: inline-flex; width: 100% !important;}
#headFi .carousel-caption h1 { font-size: 20px; line-height: 30px;}
#headFi .carousel-caption { padding: 15px 15px 0 !important;}
#headFi  .carousel-caption .box-wight { margin-top: 0; width: 100%;}
.helping-sce .titele-text {margin: 0;}
.helping-sce .col-md-4.col-sm-4.no-pad .zoom-effct { display: inline-block; margin-top: 15px; padding-left: 0;}
.track-parcel h3 { font-size: 18px; margin-left: 0; margin-top: 8px; padding-bottom: 5px;}
#tracking__track .business_region {width: 100%;}
#tracking__track .business_region > li:first-child { margin: 7px 0;}
.track-parcel .masthead__findtrack{margin-left: 0;}
.track-hedding { font-size: 22px; margin-bottom: 18px; margin-top: 10px;}
.track-hedding h1{font-size:20px;}
.col-md-4.col-sm-4.text-center.track-detail { float: left; width: 100%;}
#primary p { font-size: 14px !important;}
.needs_but { bottom: 10px; top: auto;}
.needs_but .btn.btn--black { line-height: 20px; margin: 0 auto; vertical-align: middle; width: 55%; padding: 5px 25px; font-size:13px;}
.become_driver.track-cont h2 { font-size: 1.6rem; line-height: 22px;}
#primary .inner-cont-trek > p { font-size: 13px !important; margin-bottom: 0;}
.inner-cont-trek, .distributor_title { border-bottom: 1px solid #efefef; margin-bottom: 15px; padding-bottom: 12px;}
.help_main-cont { margin: 0;}
.help_page .taxonomies_name{width:100%!important; margin: 0 0 20px;}
.help_page .taxonomies_name a{line-height: 85px; font-size:19px;}
.help_page .taxonomies_name{height: 85px;}
.become_driver:hover { box-shadow: none;}
.become_driver.help_page h1, .page-title, .entry-title { font-size: 22px; margin-bottom: 25px; margin-top:0;}
.form-help{padding: 0 15px;}
.form-help form {background: rgba(255, 255, 255, 0.5); display: block; margin: 0 auto; padding: 10px; width: 100%;}
.form-help input#searchsubmit{margin-top: 10px; width: 100%;}
.form-help input{height:38px; }
.form-help #s{width:100%;}
.pages_content{padding:25px 0!important;}
.help_page .distributor_title > h3 { font-size: 1.6rem; line-height: 20px; margin-bottom: 5px;}
.stepwise-row a{border-right:none;}
.stepwise-row .col-md-3:first-child a {
  border-left: none;
}
.pcontent .form-control.my_parcel_detail {
  float: right;
  width: 70% !important;
}
.parsel_container .gray_box .form-control, .parsel_container .order-cont .gray_box .name input[type="text"], .parsel_container .order-cont .gray_box .col-md-4.col-sm-5 .form-control.my_parcel_detail {
  width: 100%;
  margin-bottom: 5px;
}
.order-cont.collection_details .form-group {
  width: 100%;
}
.order-cont .form-control {
  font-size: 12px;
  height: 40px !important;
  padding: 6px !important;
}
.order-cont .form-group label {
  font-size: 14px;
  line-height: 30px;
}
.table-responsive table tr th, .table-responsive table tr td{width:390px; font-size:15px;}
.become_driver h4 {
  font-size: 1.6rem;
  line-height: 22px;
}
.have_your_sec .title_text_red {
	font-size: 35px;
	line-height: 50px;
}
.have_your_sec {
	background-size: 100% 100%;
}
.your_business_page {
	/*background-size: 100% 100%!important;
	background-position: top;*/
	background-repeat: no-repeat;
    background-size: auto auto;
    height: auto;
    min-height: 320px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.help-page-banner{
	padding: 15px 0;
}
.your_business_page{background-position: top;}
.page-id-19 .box-wight{width: 88%;}
.box-wight h3{font-size: 16px;}
.become_driver > h1{font-size: 18px;}
.post-31 .become_driver h3 { font-size: 16px !important;}
.become_driver.trim_condision > h3 { font-size: 16px; line-height: 23px;}
.become_driver .border_text > h3 { font-size: 1.6rem;}
.page-id-35 h1.testimonial-text { font-size: 18px; margin-bottom: 0; margin-top: 0; padding-left: 0;}
.single-testimonial .become_driver > h3{font-size: 16px;}
.ourservies span{font-size: 15px;}
.page-id-37 .help_main-cont { width: 100%;}
.become_driver h4 {  text-align: left;}
.social-links li a{font-size:13px;}
.page-id-8 .business_content h2 {line-height: 40px;}
.help-content{margin: 0 0 20px; width: 100%;}
.single-testimonial .become_driver{padding:15px 0;}
.packaging_shipment .border-packaging { background: #ffffff ; border: 0 none;  box-shadow: none; padding: 0;}
.postid-274 .business_content h2 { line-height: 45px;}
.postid-268 .your_business .business_content h2, .postid-269 .your_business .business_content h2 { line-height: 30px;}
.order-cont .input-group .form-control.my_parcel_detail { margin-bottom: 0; margin-right: 0 !important; width: 100% !important;}
.parsel_container .gray_box label{display:block;}
.order-cont .pcontent .form-control.my_parcel_detail ,.parsel_container .order-cont .gray_box .input-group {  width: 100% !important;}
.order-cont .gray_box .close{right:10px; top:10px;}
.stepwise-row .container > div { background: #5a1a73 none repeat scroll 0 0; border: 1px solid #000000 !important; margin-bottom: 15px; margin-top: 15px;}
.your_business .business_region .c_error, .your_business .business_region .p_error { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; bottom: -35px; color: #b22222; font-size: 13px; left: auto;  right: 0;}
.header {float: left;height: auto; position: static;}
.serves-cont { margin-top: 24px;position: relative; z-index: 9;}
.page-id-8 .track-hedding { margin-bottom: 30px; margin-top: 12px;}
.servies-content table {table-layout: inherit;}
#primary .box-content-massg .massg-main-content{
	width: 100%;
}
#primary .box-content-massg .massg-main-content table{
	width: 100%;
}
#primary .box-content-massg .massg-main-content .table-responsive table tr th, #primary .box-content-massg .massg-main-content .table-responsive table tr td{
	width: 170px;
}
form.delivery-form .form-sec input, form.delivery-form .form-sec select {
  font-size: 13px;
}
form.delivery-form .form-sec select {
  background: rgb(240, 240, 240) url("../images/caret-down.png") no-repeat scroll 98% 19px / 22px auto;
}
.wrape_promo input {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 0px;
}
.get_center_bnts{
	text-align: center;
}
.driver-cont h1{font-size: 24px;}
.driver-cont h4{font-size: 20px;}
}


@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
.owl-thumb-slider .owl-item{ max-width: 460px !important;} 
.order-cont .tnc > a {
  float: left !important;
  margin-left: 0px!important;
}
	
}
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape)  {
.col-md-4.col-sm-4.text-center.track-detail { float: left; width: 50%!important;}
.business_needs_sec .col-md-4.col-sm-4.text-center { float: left; width: 50%;}
.maile-footer, .general-footer, .join-our-footer, .time-express-footer, .abou-us-footer {  width: 33.33%;}
.footer .footer-title, .footer .footer_title {font-size: 16px;}
.help_page .taxonomies_name { margin: 0 10px 20px 12px; width: 46%!important;}
.become_driver.help_page h1, .page-title, .entry-title { margin-bottom: 25px; margin-top: 0;}

}
@media (max-width: 480px){
.sliderSection .carousel-control{top: 110px;}
.wpcf7-form .inqurey_input {  width: 48.4%;}
.expert-cont {top: 60px;}
}
@media (min-width: 320px) and (max-width: 479px) {
.sliderSection .carousel-control{top: 84px;}
.order-cont .tnc > a {float: left !important;margin-left: 0px!important;}
}
@media (min-width: 320px) and (max-width:767px) {
.box-wight li a {font-size: 20px;height: 38px;line-height: 20px;margin-bottom: 5px;text-align: center;width: 100%;}
.expert-cont {
  top:40px;
}
}
@media (max-width: 320px){
.wpcf7-form .inqurey_input { width: 47.2%;}
.box-wight li a {font-size: 20px;height: 38px;line-height: 20px; margin-bottom: 5px;text-align: center;width: 100%;}
.table-responsive table tr th, .table-responsive table tr td {font-size: 15px;width:0px;}
.expert-cont {top: 18px;}

}
@media (min-width: 320px) and (max-width:480px){
.table-responsive table tr th, .table-responsive table tr td {font-size: 15px;width:0px;}
}