*,
ol,
ul {
    margin: 0;
    padding: 0
}
.fw,
.header,
.logo {
    float: left
}
.navbar-nav li a,
.social_icon>li {
    display: inline-block
}
.fw,
.header,
body,
html {
    width: 100%
}
.box-wight h3,
.box-wight li a,
.navbar-nav li a,
.purpel-text {
    text-transform: uppercase
}
.box-wight li a,
.expert-cont a,
.more,
.navbar-nav li a,
.social_icon li a {
    transition: all .5s ease 0s
}
.box-wight li,
.follow-cont,
.follow_commnt li,
.follow_commnt li i,
.grid-col,
.social_icon>li {
    vertical-align: middle
}
.btn-parcels,
a img,
a:link,
a:visited {
    text-decoration: none
}
body,
html {
    height: 100%
}
body {
    font-family: latoregular
}
fieldset,
img {
    border: none
}
a,
a:focus {
    outline: 0
}
a img {
    border: 0
}
ol,
ul {
    list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0
}
.no-pad {
    padding: 0!important
}
.no-pad-left {
    padding-left: 0!important
}
.no-pad-right {
    padding-right: 0!important
}
@font-face {
    font-family: 'MS PGothic';
    src: url('../fonts/MS PGothic.eot');
    src: url('../fonts/MS PGothic.eot#iefix') format('embedded-opentype'), url('../fonts/MS PGothic.woff') format('woff'), url('../fonts/MS PGothic.svg#MS PGothic') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-2A6B2
}
.header {
    background: #fff;
    height: 101px;
    padding: 18px 0;
    position: absolute;
    top: 0;
    z-index: 999
}
.menu_sec .navbar-default {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin-bottom: 0;
    min-height: auto
}
.menu_sec li:last-child {
    padding-right: 0
}
.navbar-nav li a {
    color: #000!important;
    font-family: "MS PGothic";
    font-size: 15px;
    line-height: 22px;
    padding: 0 15px 15px;
    border-bottom: 4px solid transparent;
    font-weight: 700
}
.menu_sec .navbar-default .navbar-nav>.active>a,
.menu_sec .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 4px solid #7f3f96;
    color: #7f3f96!important
}
.menu_sec .collapse.navbar-collapse {
    padding: 0
}
.menu_sec {
    float: right;
    padding-top: 16px
}
.menu_sec .navbar-default .navbar-nav>.active>a {
    background: 0 0
}
.social_icon {
    float: right;
    margin-top: -3px
}
.social_icon li a {
    color: #000;
    font-size: 25px;
    line-height: 25px;
    margin-left: 15px
}
.social_icon li a:hover {
    color: #7f3f96
}
.client-zone {
    clear: both
}
.sliderSection .carousel-indicators {
    bottom: 0;
    left: 0;
    margin: 0;
    right: 0;
    width: 100%;
    display: table
}
.sliderSection .carousel-indicators li {
    display: table-cell;
    width: auto;
    min-width: 1%;
    height: auto;
    border-radius: 0;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    border: 0;
    background-color: transparent;
    padding: 0 2px
}
.sliderSection .carousel-indicators li:first-child {
    padding-left: 0
}
.sliderSection .carousel-indicators li:last-child {
    padding-right: 0
}
.sliderSection .carousel-indicators li span {
    background-color: #908d8b;
    display: block;
    height: 13px
}
.sliderSection .carousel-indicators li.active span {
    background-color: #052d55
}
.sliderSection .carousel-control {
    background: rgba(255, 255, 255, .7);
    bottom: auto;
    color: #000;
    font-size: 23.34px;
    line-height: 48.99px;
    margin-top: -24.48px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: 50%;
    width: 50px
}
.sliderSection .carousel-control:focus,
.sliderSection .carousel-control:hover {
    background: #052d55;
    color: #fff
}
.carousel-control.right {
    right: 40px
}
.carousel-control.left {
    left: 40px
}
.img-right {
    bottom: 0;
    position: absolute;
    right: 87px
}
.sliderSection .carousel-caption h4 {
    color: #fff;
    font-size: 35px;
    text-align: left;
    text-shadow: none;
    font-family: ralewayregular;
    font-weight: 700
}
.sliderSection .carousel-caption h2 {
    border-bottom: 8px solid #fff;
    color: #0cde81;
    display: table;
    font-size: 73px;
    text-align: left;
    text-shadow: none;
    font-family: ralewaybold;
    padding-bottom: 6px
}
.box-wight h3,
.box-wight li a,
.box-wight p {
    color: #000;
    text-align: left;
    text-shadow: none
}
.box-wight h3 {
    font-family: ralewaybold;
    font-size: 20px;
    margin: 0 0 16px
}
.box-wight {
  background: #ffffff none repeat scroll 0 0;
  display: inline-block;
  float: none;
  line-height: 24px;
  margin: 0 auto;
  padding: 20px 27px 27px;
  width: 75%;
}
.box-wight li a,
.box-wight p {
    font-size: 14px;
    line-height: 24px;
    font-family: open_sansregular;
    margin-bottom: 18px;
     font-weight: bold;
}
.box-wight li a {
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    color: #5c5c5c;
    float: left;
    height: 41px;
    margin: 0 5px 0 0;
    padding: 8px 15px
}
.box-wight li a:hover {
    background: #7F3F98;
    color: #fff
}
.paragrph,
.titele-text {
    text-align: center;
    color: #000
}
.box-wight>ul {
    float: left
}
.sliderSection .carousel-caption {
    bottom: 170px;
    left: 16%;
    padding-bottom: 30px;
    right: 0%;
    top: 165px
}
.have_your_sec::after,
.have_your_sec:before,
.sliderSection .carousel:after {
    content: "";
    left: 0
}
.sliderSection .carousel:after {
    background-image: url(../images/top-img_shedow.png);
    background-repeat: no-repeat;
    bottom: -32px;
    width: 100%;
    height: 35px;
    position: absolute;
    background-size: cover
}
.have_your_sec,
.sliderSection .ing-block {
    position: relative
}
.sliderSection {
    float: left;
    width: 100%
}
.margin-text {
    margin-bottom: 30px
}
.helping-sce {
    padding: 75px 0 0
}
.titele-text {
    font-family: ralewaybold;
    font-size: 35px
}
.paragrph {
    font-size: 14px;
    line-height: 20px;
    font-family: latoregular
}
.helping-sce .zoom-effct>img {
    max-height: 450px;
    width: auto
}
.serves-cont {
    float: left;
    width: 100%;
    margin-top: 75px
}
.purpel-text {
    color: #7f3f98;
    font-family: "MS PGothic";
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px
}
.helping-cont .paragrph {
    text-align: left;
    margin: 0;
    font-size: 13px
}
.out_more,
.paragraph,
.title_text_red,
.view-more {
    text-align: center
}
.helping-sce .titele-text+.paragrph {
    margin-bottom: 70px
}
.zone-content {
    background: #7f3f98;
    padding: 44px
}
.zone-content .purpel-text {
    border-bottom: 1px solid #fff;
    color: #fff;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 12px
}
.zone-content .paragrph {
    color: #fff
}
.zone-content a.more:hover {
    background: #fff;
    border-color: #7F3F98;
    color: #7F3F98
}
.more,
.title_text_red {
    color: #fff;
    text-transform: uppercase
}
.more {
    border: 1px solid #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    line-height: 13px;
    margin-top: 15px;
    padding: 12px 35px;
    font-family: open_sansregular;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.footer-title,
.footer_title {
    border-bottom: 2px solid #fff;
    display: inline-block
}
.btn-success:hover {
    background: #000
}
.expert-cont a {
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.expert-cont>a:hover {
    background: #7F3F98
}
.helping-sce .zoom-effct:hover img {
    transform: scale(1)
}
.serves-cont span:hover {
    transform: scale(1.1) rotate(360deg)
}
.serves-cont span {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.zoom-effct {
    overflow: hidden
}
.zoom-effct img {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.discount a,
.footer-links a,
.view-more {
    transition: all .5s ease 0s
}
.zoom-effct:hover img {
    transform: scale(1.2)
}
.have_your_sec {
    background: url(../images/bg-red.jpg) rgba(0, 0, 0, 0);
    padding: 130px 0 100px;
    background-size: cover;
    margin-top: 55px
}
.have_your_sec::after {
    background: url(../images/top-img_shedow.png) rgba(0, 0, 0, 0);
    bottom: -47px;
    height: 50px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat
}
.title_text_red {
    font-family: 'Nirmala UI';
    font-size: 70px;
    font-weight: 700;
    line-height: 55px
}
.title_text_red>span {
    color: red;
    font-family: nirmala ui!important;
    font-weight: 400!important;
    margin-left: 10px
}
.paragraph {
    color: #fff;
    font-family: "MS PGothic";
    font-size: 14px;
    line-height: 30px;
    margin: 25px 0 45px
}
.view-more {
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 13px 40px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    font-family: open_sansregular;
    font-size: 13px
}
.footer-title,
.footer_title,
.social-links li a {
    text-transform: capitalize
}
.box-wight li {
    display: inline-block;
    margin-right: 2px
}
.view-more:hover {
    background: #7f3f96;
    color: #fff
}
.have_your_sec:before {
    background: rgba(0, 0, 0, .75);
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat
}
.have_your_sec .row {
    position: relative;
    z-index: 9
}
.have_your_sec .paragraph {
    font-family: latoregular;
    font-size: 15px
}
.discount a,
.discount h2,
.discount h3 {
    font-family: ralewaybold
}
.discount {
    background: url(../images/bg2-.jpg) 0 0/cover no-repeat rgba(0, 0, 0, 0);
    float: left;
    height: 320px;
    padding-top: 75px;
    position: relative;
    width: 100%;
    z-index: -9
}
.discount h2 {
    color: #7f3f98;
    font-size: 53px;
    margin-bottom: 15px;
    text-align: left
}
.img-boy {
    bottom: -84px;
    left: 10px;
    max-width: 100%;
    position: absolute;
    width: auto;
    z-index: 9
}
.item-business>h3::after,
.zoom-img-bor:after {
    bottom: 0;
    content: ""
}
.discount h3 {
    color: #000;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left
}
.discount .paragraph {
    color: #000;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    text-align: left
}
.expert-cont>a {
    border-radius: 4px
}
.discount a {
    background: #fd4a4a;
    color: #fff;
    float: left;
    font-size: 50px;
    margin-top: 32px;
    padding: 20px 54px 20px 150px;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.discount a:hover {
    background: #7F3F98
}
.footer {
    float: left;
    width: 100%;
    font-family: latobold
}
.bottom-footer-section {
    background: #000;
    padding: 40px 0
}
.footer_title {
    color: #fff;
    font-size: 16px
}
.social-links {
    float: left
}
.social-links li a {
    color: #ddd;
    font-size: 14px;
    line-height: 26px;
    font-family: latoregular
}
.footer-title {
    color: #fff;
    font-size: 16px;
    font-family: latobold!important;
    padding-bottom: 2px
}
.footer-links a {
    color: #fff;
    font-family: latoregular;
    font-size: 13px;
    line-height: 26px;
    text-shadow: 1px 1px 2px #686868;
    text-transform: lowercase;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.footer-links a:hover {
    margin-left: 10px;
    color: #7F3F98
}
.footer-links span {
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-right: 11px
}
.maile-footer.footer-content a:hover {
    margin-left: 0!important
}
.footer-links>li {
    color: #fff;
    font-size: 13px;
    font-family: latoregular
}
.business_slider {
    background-image: url(../images/business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 352px;
    padding: 50px 0;
    width: 100%;
    position: relative
}
.business_slider .carousel-control {
    background: #686868;
    border: 0;
    color: #000;
    font-size: 25px;
    height: 50px;
    line-height: 47px;
    text-shadow: none;
    top: 46%;
    width: 50px
}
.left.carousel-control {
    left: 50px
}
.right.carousel-control {
    right: 50px
}
.scarl_img img {
    border: 2px solid #fff;
    border-radius: 100%;
    margin-bottom: 10px;
    transition: all .5s ease 0s;
    width: 100%;
    max-width: 124px
}
.scarl_img>img:hover {
    transform: rotate(360deg)
}
.item-business>h3 {
    color: #fff;
    display: inline-block;
    font-family: 'MS PGothic';
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 15px;
    position: relative;
    text-shadow: none;
    text-transform: uppercase
}
.item-business p {
    font-family: ralewayregular;
    line-height: 20px;
    text-shadow: none;
    text-transform: capitalize;
    margin-top: 10px;
    color: #fff
}
.help-let p,
.help-let_h3 {
    color: #000;
    text-align: center
}
.item-business>h3::after {
    border-bottom: 2px solid #fff;
    height: 2px;
    left: 50px;
    position: absolute;
    width: 150px
}
.business_slider.fw {
    margin-top: 0;
    position: relative
}
.business_slider .carousel {
    position: relative;
    z-index: 9
}
.business_slider:after {
    background: rgba(0, 0, 0, .8);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
.item-business>p {
    margin: 0 auto;
    width: 781px;
    max-width: 100%
}
section.help-let {
    float: left;
    padding: 60px 0 0;
    position: relative;
    width: 100%;
    z-index: -999
}
.help-let_h3 {
    font-size: 30px;
    line-height: 35px;
    font-family: ralewaybold;
    padding-top: 42px;
    border-top: 1px ashed #000;
    border-top: 1px dashed #b2b2b2
}
.help-let p {
    font-size: 15px;
    line-height: 20px;
    font-family: ralewayregular
}
.lehp-img-cont {
    margin-top: 58px
}
.expert-cont h2 {
    font-size: 44px;
    line-height: 50x;
    color: #fff;
    text-align: left;
    font-family: oswaldbook
}
.expert-cont a {
    width: 185px;
    background: #fd4a4a;
    padding: 6px 12px;
    height: 40px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
    margin-top: 25px;
    font-family: open_sansregular;
    text-transform: uppercase;
    display: inline-block;
    text-align: center
}
.expert-cont {
    position: absolute;
    top: 65px;
    left: 65px
}
.help-let {
    position: relative
}
.img-post {
    position: absolute;
    right: 110px;
    top: -15px
}
.zoom-img-bor img {
    height: 100%;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.zoom-img-bor:before:hover {
    background: rgba(0, 0, 0, .5);
    transform: scale(1.1)
}
.zoom-img-bor:after {
    border: 15px solid #7f3f98;
    top: 0;
    left: 0;
    right: 0;
    position: absolute
}
.zoom-img-bor:hover img {
    background: rgba(0, 0, 0, .9);
    transform: scale(1.2)
}
.zoom-effct img {
    max-width: 100%;
    width: 100%
}
.zoom-img-bor:hover:before {
    background: rgba(0, 0, 0, .5);
    z-index: 9
}
.zoom-img-bor:before {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%
}
.zoom-img-help:before {
    background-image: url(../images/box-sedow-help.png);
    background-repeat: no-repeat;
    left: 0;
    bottom: -62px;
    position: absolute;
    content: "";
    width: 100%;
    height: 63px;
    height: 100%;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.zoom-img-bor,
.zoom-img-help {
    position: relative;
    float: left;
    overflow: hidden;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.zoom-grid:after,
.zoom-img-help:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .5s ease 0s;
    -webkit- transition: all .5s ease 0s -ms- transition: all .5s ease 0s
}
.zoom-img-bor {
    height: 402px
}
.community .help-let_h3 {
    border-top: 0 none;
    font-family: oswaldbook;
    font-size: 44px;
    padding-top: 0;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 45px;
    margin-top: 54px
}
.grid-col {
    display: inline-block;
    margin-left: 50px;
    transition: all .5s ease 0s;
    -webkit- transition: all .5s ease 0s -ms- transition: all .5s ease 0s
}
.grid-col:hover .zoom-grid:after {
    background: rgba(127, 63, 152, .9)
}
.grid-col:first-child {
    margin-left: 0
}
.community_sec.text-center {
    padding-bottom: 41px;
    border-top: 1px dashed #b2b2ac;
    display: inline-block;
    margin: 0 auto;
    padding-top: 40px;
    width: 885px;
    max-width: 100%
}
.expert-cont1 img,
.zoom-grid img {
    overflow: hidden;
    transition: all .5s ease 0s;
    -webkit- transition: all .5s ease 0s -ms- transition: all .5s ease 0s
}
.grid-col:hover .expert-cont1 img,
.grid-col:hover .zoom-grid img {
    transform: scale(1.1)
}
.community.fw.text-center {
    padding: 40px 0 10px
}
.grid-col,
.zoom-grid {
    overflow: hidden;
    position: relative
}
.expert-cont1 {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 45px
}
.client-zone-img,
.newsleetter-form {
    position: relative
}
.expert-cont1 img {
    display: block;
    margin: 0 auto
}
.expert-cont1>h3 {
    color: #fff;
    font-family: impactreg;
    font-size: 33px;
    margin-top: 20px
}
.social-count-plus li,
.social-count-plus ul {
    border: none!important;
    list-style: none!important;
    margin: 0
}
.follow_commnt {
    padding: 40px 0
}
.follow_commnt ul {
    float: left
}
.follow_commnt li {
    display: inline-block
}
.follow_commnt li i {
    font-size: 50px;
    color: #000;
    text-align: left;
    display: ing-block
}
.col-md-12.col-sm-12 a {
    float: left;
    display: inline-table
}
.follow-cont {
    display: inline-table
}
v .social-count-plus::after {
    clear: both;
    content: "";
    display: table
}
.social-count-plus ul {
    padding: 0
}
.social-count-plus li {
    background: rgba(0, 0, 0, 0)!important;
    clear: none!important;
    float: left;
    padding: 0 16px;
    text-align: center;
    color: #000;
    display: inline-block;
    vertical-align: top;
    width: 20%!important
}
.social-count-plus .default a {
    background: rgba(0, 0, 0, 0)
}
.social-count-plus li a.icon i {
    color: #000;
    font-size: 50px;
    line-height: 47px;
    margin: 0 20px 10px 0;
    transition: all .5s ease 0s
}
.social-count-plus .items {
    display: block;
    margin: 0;
    padding: 0;
    text-align: left
}
.social-count-plus .items .name {
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    font-family: latoregular;
    font-weight: 700
}
.social-count-plus .count,
.social-count-plus .label {
    font-size: 13px;
    line-height: 16px;
    font-family: latoregular
}
.social-count-plus .count {
    display: inline-block;
    margin: 5px 0 0;
    padding: 0
}
.social-count-plus .label {
    font-weight: 400;
    text-transform: capitalize
}
.social-count-plus .items+.icon {
    display: block
}
.newsleetter-form,
.newsletter-section .wysija-submit,
.newsletter-section form,
.text-large {
    display: inline-block;
    vertical-align: middle
}
.social-count-plus .default .count-twitter a {
    background-position: 0 0!important
}
.social-count-plus li a.icon {
    float: left;
    color: #ff0019;
    font-size: 15px;
    line-height: 25px;
    font-family: latoregular
}
.social-count-plus .default .count-facebook a {
    background-position: -32px 0!important
}
.social-count-plus .default .count-instagram a {
    background-position: -192px 0!important
}
.social-count-plus .default .count-googleplus a {
    background-position: -96px 0!important
}
.social-count-plus .default .count-linkedin a {
    background-position: -320px 0!important
}
.follow-icon {
    float: left;
    padding: 0 0 32px;
    width: 100%
}
.social-count-plus li:hover a i {
    color: #7f3f98
}
.footer-content {
    float: left
}
.abou-us-footer {
    width: 25%
}
.time-express-footer {
    width: 21%
}
.join-our-footer {
    width: 20%
}
.general-footer {
    width: 14%
}
.maile-footer {
    width: 20%
}
.maile-footer .footer-links>li,
.maile-footer .footer-links>li a {
    font-size: 17px;
    font-family: latoblack;
    margin-bottom: 17px
}
.newsletter-section {
    background: #7f3f98;
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    padding: 18px 0;
    text-align: center;
    width: 100%
}
.text-large {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    margin-right: 25px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: latoregular
}
.newsleetter-form {
    text-align: center;
    width: 100%;
    max-width: 500px
}
.newsletter-section .wysija-paragraph input {
    color: rgba(37, 37, 37, .4);
    display: inline-block;
    font-size: 16px;
    height: 40px;
    max-width: 354px;
    padding-left: 35px;
    vertical-align: middle
}
.newsletter-section .wysija-submit {
    margin: 0 0 0 15px;
    background: #fd4a4a;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-family: segoe_uiregular;
    font-size: 14px;
    height: 40px;
    line-height: 14px;
    padding: 6px 24px;
    text-transform: capitalize
}
.copy-right {
    background: #101010;
    padding: 15px 0
}
.copy-right p {
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-family: latoregular;
    margin-bottom: 0
}
.client-zone-icon {
    left: 0;
    margin-top: -32px;
    position: absolute;
    top: 50%;
    width: 100%;
    transition: all .5s ease 0s
}
.business_img,
.cta-header,
.needs_box {
    position: relative
}
.client-zone-icon.text-center.clienticon2 {
    margin-top: -38px
}
.client-zone-icon img:hover {
    transform: scale(1.1) rotate(360deg)
}
.needs_box:hover .business_img img,
.post-thumbnail:hover img {
   /* transform: scale(1.2);*/
   transform: scale(1);
}
.client-zone-icon img {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
#headFi #execphp-3 {
    border: 0
}
#headFi .widget.widget_execphp {
    padding: 0
}
#headFi .ing-block {
    min-height: 570px
}
#headFi .ing-block img {
    max-width: 100%;
    width: 100%;
    min-height: 570px
}
.serves-cont>span {
    float: left;
    margin-right: 15px;
    width: 78px
}
.helping-cont {
    float: left;
    width: 281px
}
.discount .widget,
.follow-icon .widget,
.have_your_sec .widget {
    border: 0
}
.newsletter-section .wysija-paragraph input {
    width: 354px;
    font-family: segoe_uiregular!important;
    border: 0
}
.newsletter-section .wysija-submit:hover {
    background: #000!important
}
.newsletter-section .wysija-submit {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.newsletter-section .wysija-paragraph {
    float: left;
    margin: 0
}
.newsletter-section form {
    line-height: 40px;
    margin: 0
}
.newsleetter-form .widget_wysija_cont.html_wysija {
    display: inline-block!important;
    vertical-align: middle
}
.bottom-footer-section .footer-content .widget.widget_execphp {
    border: 0;
    margin: 0;
    padding: 0
}
.newsletter-section .wysija-paragraph input::-webkit-input-placeholder {
    font-family: segoe_uiregular
}
.newsletter-section .wysija-paragraph input::-moz-placeholder {
    font-family: segoe_uiregular;
    color: rgba(37, 37, 37, .4)
}
.newsletter-section .wysija-paragraph input:-ms-input-placeholder {
    font-family: segoe_uiregular;
    color: rgba(37, 37, 37, .4)
}
.newsletter-section .wysija-paragraph input:-moz-placeholder {
    font-family: segoe_uiregular;
    color: rgba(37, 37, 37, .4)
}
.menu_sec .current-menu-item>a {
    background: rgba(0, 0, 0, 0);
    border-bottom: 4px solid #7f3f96;
    color: #7f3f96!important
}
.menu_sec .primary-menu.nav.navbar-nav {
    margin-left: 15px
}
.box-wight li input {
    font-family: open_sansregular!important;
    width: 400px;
    background: #fff;
    height: 41px!important;
    line-height: 41px;
    padding: 5px 50px 5px 10px;
    color: #7F3F98 !important;
	font-weight: 700;
}
.box-wight li:last-child input {
    color: #fff!important;
    background: #7f3f98;
    line-height: 42px;
    padding: 0;
    text-align: center;
    width: 134px
}
.box-wight input::-webkit-input-placeholder {
    font-family: open_sansregular!important
}
.box-wight input::-moz-placeholder {
    font-family: open_sansregular!important;
    color: #c3c3c3
}
.box-wight input:-ms-input-placeholder {
    font-family: open_sansregular!important;
    color: #c3c3c3
}
.box-wight input:-moz-placeholder {
    font-family: open_sansregular!important;
    color: #c3c3c3
}
.business_content h2,
.business_content span {
    font-family: ralewaybold
}
.box-wight .widget.widget_execphp {
    margin-bottom: 22px
}
body:after,
body:before {
    display: none!important
}
.your_business_page {
    background-image: url(../images/hero-business.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 180px 0 80px
}
.business_content h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    line-height: 85px;
    text-transform: uppercase
}
.business_content span {
    display: block;
    font-size: 3.6rem
}
.business_content>p {
    color: #fff;
    font-family: ralewaybold;
    font-size: 22px;
    line-height: 38px;
    margin-bottom: 112px;
    margin-top: 40px
}
.business_region {
    float: left;
    width: 100%;
    margin-bottom: 20px
}
.send_weight .delete_more_sizes {
    background: #000;
    color: #fff;
    display: inline-block!important;
    font-family: segoe_uiregular;
    margin-right: 15px;
    padding: 6px 12px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s
}
.send_weight .delete_more_sizes:hover {
    background: #7A3E93;
    color: #fff
}
.business_region>li {
    display: inline-block;
    vertical-align: middle;
    max-width: 322px;
    width: 100%;
    position: relative;
	z-index:9;
}
.business_region>li label {
    color: #fff;
    font-family: ralewaybold;
    font-size: 28px;
    padding-bottom: 8px;
    text-align: left;
    width: 100%
}
.business_region .form-control,
.send_weight .business_region input {
    border: 0;
    border-radius: 0;
    color: #000;
    font-family: ralewaybold;
    font-size: 16px;
    height: 60px
}
.business_region button.form-control {
    background: #7f3f98;
    color: #fff;
    margin-top: 50px;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s
}
.btn--black,
.cta-header {
    color: #000;
    transition: all .5s ease 0s;
    text-align: center
}
.business_region .form-control option,
.enquiry select option {
    font-family: segoe_uiregular!important;
    padding: 5px 10px
}
.business_region button.form-control:hover {
    background: #000
}
.cta-header {
    display: inline-flex;
    font-family: latoregular;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
    padding-bottom: 32px;
    padding-right: 0;
    padding-top: 48px;
    text-transform: none;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s
}
.btn--black {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 0;
    font-family: ralewaybold;
    font-size: 21px;
    line-height: 21px;
    margin: 0 0 0 90px;
    max-width: 240px;
    padding: 10px 52px;
    text-transform: uppercase;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s
}
.cta-header.cta-header .btn--black:hover {
    background: #000;
    color: #fff
}
.business_needs_sec {
    padding: 56px 0
}
.business_needs_sec h2 {
    color: #000;
    font-family: ralewaybold;
    font-size: 30px;
    margin-bottom: 50px
}
.business_img {
    overflow: hidden
}
.business_img::after,
.business_needs,
.needs_but {
    left: 0;
    position: absolute;
    width: 100%
}
.business_img img {
    max-width: 100%;
    width: 100%
}
.business_needs {
    padding: 0 20px;
    top: 40px
}
.business_needs .block__title {
    color: #fff;
    font-family: ralewaybold;
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 20px;
    text-transform: none
}
.business_needs>p {
    color: #fff;
    font-family: segoe_uiregular;
    font-size: 16px;
    line-height: 24px
}
.business_needs>p br {
    display: none
}
.needs_but {
    bottom: 30px
}
.needs_but .btn.btn--black {
    border-color: #fff;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px 25px;
    float:none;
}
.needs_box:hover .btn--black {
    background: #fff;
    color: #000
}
.needs_box .business_img img {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s
}
.business_img::after {
    background: rgba(0, 0, 0, 0);
    content: "";
    height: 100%;
    top: 0;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s
}
.needs_box:hover .business_img:after {
    background: rgba(127, 63, 152, .5)
}
.business_region select.form-control,
.form_enquiry .enquiry select {
    appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none
}
.enquiry,
.form_enquiry {
    float: left;
    width: 100%
}
.enquiry>label {
    float: left;
    width: 40%
}
.enquiry span {
    float: left;
    width: 60%
}
.enquiry {
    margin-bottom: 20px
}
.collection_details .form-control,
.enquiry .your-message textarea,
.enquiry select,
.enquiry span input {
    background: #f0f0f0;
    border: 0;
    font-size: 1.6rem;
    height: 60px!important;
    padding: 6px 20px!important;
    color: #000!important;
    font-family: arial, sans-serif;
    box-shadow: none;
    border-radius: 0
}
.enquiry .your-message textarea:focus,
.enquiry span input:focus {
    background: #f6f6f6;
    border: 0
}
.enquiry span input::-webkit-input-placeholder {
    font-family: segoe ui!important;
    font-weight: 700;
    letter-spacing: .5px;
    color: #777
}
.enquiry span input::-moz-placeholder,
.parsel_container .order-cont .gray_box .name input::-moz-placeholder {
    font-family: font-family: segoe ui!important;
    color: #777;
    font-weight: 700;
    letter-spacing: .5px
}
.enquiry span input:-ms-input-placeholder {
    font-family: font-family: segoe ui!important;
    color: #777;
    font-weight: 700;
    letter-spacing: .5px
}
.enquiry span input:-moz-placeholder,
.parsel_container .order-cont .gray_box .name input:-moz-placeholder {
    font-family: font-family: segoe ui!important;
    color: #777
}
.enquiry .your-message textarea::-webkit-input-placeholder,
.enquiry select,
.enquiry span input,
.parsel_container .order-cont .gray_box .name input::-webkit-input-placeholder {
    font-family: segoe ui!important;
    font-weight: 700;
    letter-spacing: .5px;
    color: #777
}
.enquiry .your-message textarea::-moz-placeholder,
.enquiry select,
.enquiry span input,
.parsel_container .my_parcel_detail input::-moz-placeholder {
    font-family: font-family: segoe ui!important;
    color: #777;
    font-weight: 700;
    letter-spacing: .5px
}
.enquiry .your-message textarea:-ms-input-placeholder,
.enquiry select,
.enquiry span input,
.parsel_container .my_parcel_detail input:-ms-input-placeholder {
    font-family: font-family: segoe ui!important;
    color: #777;
    font-weight: 700;
    letter-spacing: .5px
}
.enquiry .your-message textarea:-moz-placeholder,
.enquiry select,
.enquiry span input {
    font-family: font-family: segoe ui!important;
    color: #777
}
.enquiry>label,
.form-group label {
    color: #000;
    font-family: latobold;
    font-size: 1.6rem;
    letter-spacing: .5px;
    line-height: 60px;
    margin: 0
}
.enquiry h4,
.form_enquiry h3 {
    font-family: segoe ui;
    color: #000;
    font-weight: 700
}
.enquiry+hr,
.hr_border {
    border-color: #ccc;
    border-width: 2px;
    float: left;
    margin: 40px 0 60px;
    width: 100%
}
.form_enquiry h3 {
    margin: 0 0 18px;
    font-size: 3.6rem;
    line-height: 4rem
}
.inqurey_input+.inqurey_input {
    margin-right: 0
}
.inqurey_input {
    display: inline-block;
    margin-right: 9px;
    width: 29.2%
}
.inqurey_input span {
    width: 100%
}
.enquiry h4 {
    margin-bottom: 12px;
    font-size: 2.2rem;
    text-transform: capitalize
}
.Sectors input+span {
    font-family: latoregular;
    font-size: 15px;
    line-height: 30px;
    margin-left: 20px
}
.Sectors input {
    float: left;
    line-height: 30px;
    height: 30px!important
}
.enquiry select {
    font-family: segoe ui;
    font-weight: 700;
    letter-spacing: .5px;
    width: 100%
}
.enquiry .textarea_label {
    width: 100%!important
}
.enquiry .your-message {
    width: 100%
}
.enquiry .your-message textarea {
    height: 120px;
    border: 0;
    font-weight: 700
}
.capcha,
.sumbit_btn .ajax-loader {
    float: left
}
.sumbit_btn {
    float: right
}
.sumbit_btn input {
    border-radius: 0;
    padding: 18px 45px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.sumbit_btn input:hover {
    background: #7F3F98
}
.pages_content {
    background: #ededed;
    float: left;
    padding: 65px 0!important;
    width: 100%
}
.form_enquiry {
    background: #fff;
    padding: 55px 60px 55px 90px
}
.form_enquiry2 {
    margin: 0 auto;
    width: 80%
}
#sectors {
    width: 100%!important
}
#sectors span {
    width: 80%!important
}
.send_a_parcel .business_region>li {
    margin-right: 5px;
    width: 49%
}
.send_a_parcel .business_region>li:last-child {
    margin-right: 0
}
.send_weight .business_region>li {
    width: 18.6%
}
.send_a_parcel select,
.send_weight .business_region input {
    background: #F0F0F0;
    box-shadow: none
}
.yodeldirect {
    background: #fff;
    padding-bottom: 15px;
    padding-top: 15px
}
.send_a_parcel .business_region li label {
    color: #000;
    font-family: segoe_uiregular;
    font-size: 17px!important;
    font-weight: 700;
    letter-spacing: .5px
}
.send_a_parcel .btn.btn-primary.btn-parcels {
    color: #000;
    font-family: segoe_uiregular;
    font-size: 16px
}
.section-head {
    color: #000;
    font-family: latoregular;
    font-size: 20px;
    margin-bottom: 32px
}
.right_toggle_btn,
.toggle_btn.send_a_parcel.send_weight {
    margin-top: 25px
}
.btn-parcels {
    border: 0;
    border-bottom: 2px solid #9c0;
    color: inherit;
    font-weight: 700;
    transition: color .3s ease-out 0s, background-image .3s ease-out 0s;
    background: 0 0;
    padding: 0;
    border-radius: 0
}
.toggle_btn .business_region li {
    width: 49%
}
.btn-parcels:focus,
.btn-parcels:hover {
    background: 0 0!important;
    color: inherit
}
.pages_cont_hedding {
    color: #000;
    font-family: latoregular;
    font-size: 15px;
    margin: 0 0 20px;
    text-align: center
}
.customize-support .pages_content {
    padding-top: 20px
}
.pages_wight {
    background: #fff;
    padding-bottom: 25px;
    padding-top: 60px
}
.pages_wight .btn_same {
    border-radius: 0;
    color: #fff;
    display: block;
    font-family: latoblack;
    font-size: 18px;
    margin: 0 auto;
    padding: 14px 65px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.pages_wight .btn_same:focus,
.pages_wight .btn_same:hover {
    background: #7A3E93
}
.pages_cont_hedding>a {
    color: #000;
    font-weight: 700
}
.parsel_container .sectiontitle {
    font-family: latobold;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 10px
}
.parsel_container .gray_box {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    display: inline-block;
    margin: 0 0 10px;
    padding: 20px 15px 10px;
    width: 100%
}
.parsel_container .gray_box .form-control {
    background: #fff;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    font-family: latoregular
}
.parsel_container .gray_box label {
    display: inline-block;
    font-size: 14px;
    margin: 6px 10px 6px 0
}
.parsel_container,
.parsel_container .btn,
.parsel_container p {
    font-size: 14px;
    font-family: latoregular;
    line-height: 20px
}
.parsel_container .gray_box .input-group {
    width: 60%;
    float: right;
    font-family: latoregular
}
.parsel_container .gray_box .input-group .form-control {
    margin-right: 0;
    width: 70px
}
.parsel_container .gray_box .row {
    margin-bottom: 15px
}
.parsel_container .name input[type=text] {
    width: 150px
}
.parsel_container .pcontent .form-control {
    width: 70%
}
.parsel_container .btn {
    padding: 6px 15px
}
.addanther_sec p {
    display: inline-block;
    margin-right: 2%;
    vertical-align: top;
    width: 83%
}
.parsel_container .tnc {
    display: inline-block
}
.addanther_sec {
    padding: 10px 0
}
.parsel_container {
    padding: 30px 0;
    clear: both
}
.parsel_container .btn-success {
    background: #000;
    border-radius: 0;
    color: #fff
}
.parsel_container .express-tabbing .tab-content {
    padding: 10px 0 0
}
.collection_details {
    /*margin-top: 30px*/
}
.collection_details .gray_box {
    padding: 0;
    position: relative
}
.collection_details .gray_box.withpad {
    padding: 10px
}
.collection_details .gray_box .row {
    margin-bottom: 0
}
.collection_details .control-label {
    margin: 0!important
}
.collection_details .form-control {
    width: 100%!important
}
.collection_details .rightbtns {
    background: #E3E3E3;
    position: absolute;
    padding-top: 20px;
    right: 0;
    height: 100%;
    top: 0
}
.collection_details form {
    padding-top: 20px
}
.collection_details form.entermanually {
    display: none
}
.stepwise-row {
    font-family: latoregular;
    clear: both;
    font-size: 16px;
    line-height: 20px;
    background: #7F3F98
}
.stepwise-row a {
    display: block;
    border-right: 1px solid #fff;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    line-height: 25px;
    transition: .5s
}
.stepwise-row a:hover {
    background: #61217a
}
.stepwise-row .col-md-3 {
    padding: 0
}
.stepwise-row .col-md-3:first-child a {
    border-left: 1px solid #fff
}
.stepwise-row a i {
    margin-right: 5px
}
.carreer_box {
    background: #fff;
    float: left;
    margin: 0 2% 20px 0;
    max-height: 500px;
    overflow: auto;
    padding: 15px;
    transition: all .4s ease 0s;
    width: 32%
}
.carreer_box>p {
    overflow-wrap: break-word
}
.carreer_box:hover {
    box-shadow: 2px 2px 2px #ccc;
    background: #fbfbfb
}
.carrer_test .carreer_box:nth-of-type(3n+3) {
    margin: 0 0 20px
}
.carreer_box h4 {
    font-family: oswaldbook;
    font-size: 22px;
    line-height: 30px;
    margin: 0 0 5px;
    color: #7f3f98
}
.carreer_box span {
    color: #7f3f98;
    display: block;
    font-family: "Nirmala UI";
    font-size: 20px;
    line-height: 20px;
    margin: 8px 0 6px
}
.carreer_box .mail {
    font-size: 16px;
    text-decoration: underline;
    color: #7f3f98
}
.partner-page .partner_box {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    box-shadow: 0 0 2px #ccc;
    margin-bottom: 30px
}
.partner-page .partner_box img {
    float: left;
    margin: 0 10px 10px 0
}
.partner-page .partner_box h3 {
    font-family: oswaldbook;
    color: #7f3f98;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 5px
}
.partner-page .partner_box .readmore {
    text-decoration: underline;
    color: #333;
    float: right
}
.partner-page .partner_box .distributor_content {
    clear: both;
    padding: 10px 0 0
}
.single-testimonial .graybox {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px
}
.single-testimonial img {
    width: 20%;
    border-radius: 50%;
    margin: 0 15px 0 0;
    float: left
}
.become_driver,
.footer .copy-right {
    float: left;
    width: 100%
}
.single-testimonial h3 {
    color: #7f3f98;
    display: inline-block;
    font-family: latobold;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 8px;
    text-transform: capitalize
}
.single-testimonial .readmore {
    text-decoration: underline;
    color: #000;
    display: block;
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0 20px
}
.becomepage {
    margin: 0 -15px
}
.becomepage>div {
    margin-bottom: 15px
}
.becomepage .wpcf7-form-control {
    background: #fff;
    font-size: 13px
}
.becomepage textarea.wpcf7-form-control {
    height: 125px;
    resize: none
}
.becomepage label {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 5px;
    font-weight: 400
}
.becomepage .wpcf7-submit {
    background: #7f3f98
}
.menu_sec .collapse.navbar-collapse {
    float: left
}
.become_driver {
    background: #fff;
    font-family: latoregular;
    font-size: 14px;
    line-height: 22px;
    padding: 15px
}
.become_driver>h1 {
    font-family: latoblack;
    font-size: 25px;
    margin-bottom: 12px;
    margin-top: 12px
}
.become_driver>h3 {
    color: #000;
    font-family: latoregular;
    font-size: 20px;
    font-weight: 400;
    margin: 4px 0
}
.become_driver h4 {
    font-family: latoblack;
    margin: 15px 0 5px
}
.become_driver>p {
    text-align: justify
}
.testimonial-text {
    font-family: latobold;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 15px
}
.become_driver>h3+h3 {
    margin-top: 10px
}
.become_driver+.become_driver {
    margin-top: 15px
}
.become_driver #wpcf7-f200-p55-o1 .wpcf7-form-control.wpcf7-submit {
    width: 120px;
    float: right
}
#track_error {
    bottom: -30px;
    left: 2px;
    position: absolute;
    width: 100%
}
.client-zone-page .box-wight {
    padding: 26px 30px 40px
}
.client-zone-page .box-wight ul li {
    position: relative
}
.client-zone-page .login-track ul {
    float: left;
    width: 100%
}
.client-zone-page .login-track ul li {
    display: inline-block;
    margin-right: 15px;
    width: 49%
}
.client-zone-page .login-track ul li:nth-child(2) {
    margin-right: 0
}
.client-zone-page .login-track ul li input {
    background: #fff;
    font-size: 13px
}
.client-zone-page .login-track ul li:last-child input {
    background: #7f3f98;
    padding: 12px 30px;
    font-family: open_sansregular!important
}
.become_driver .becomepage+div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    bottom: 20px;
    left: 15px;
    margin: 0;
    padding: 6px 15px;
    position: absolute
}
.become_driver {
    position: relative
}
.become_driver .becomepage+div.wpcf7-validation-errors {
    bottom: 0;
    left: 5px;
    padding: 6px 15px;
    position: absolute
}
.become_driver #wpcf7-f200-p55-o1 .wpcf7-form-control-wrap.TransportLicense {
    display: block;
    line-height: 58px
}
.become_driver .becomepage .col-md-6.col-sm-6 {
    height: 70px
}
#TransportLicense {
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    margin-top: -8px;
    vertical-align: top
}
.help_page .taxonomies_name {
    align-content: center;
    align-self: center;
    background: #7f3f98;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    height: 175px;
    margin: 0 8px 20px;
    padding: 0;
    text-align: center;
    width: calc(25% - 20px)
}
.help_page .taxonomies_name a {
    color: #fff;
    line-height: 175px;
    display: block;
    font-family: ralewaybold;
    font-size: 22px;
    margin: 0;
    vertical-align: middle;
    position: relative;
    top: 0px;
    left: 0px;
}
.help_page .taxonomies_name a.tab-menu:after {
    border-top: 15px solid #7f3f98;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -12px
}
.become_driver.post_driver:after,
.box-1 li span::after,
.your_business_page::after,
form.delivery-form:after {
    content: ""
}
.help_page .distributor_title>h3 {
    color: #000;
    font-family: latoblack;
    font-size: 2.3rem;
    margin-bottom: 8px
}
.form-help {
    float: left;
    width: 100%
}
.form-help #s {
    display: inline-block;
    width: 65%
}
.form-help form {
    display: block;
    margin: 0 auto;
    width: 50%
}
.form-help input {
    border-radius: 0;
    height: 50px;
    padding: 5px 15px;
    vertical-align: top
}
.form-help input#searchsubmit {
    color: #fff;
    font-family: ralewaybold;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 64px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.form-help input#searchsubmit:hover {
    background: #7f3f96
}
.restricted th {
    width: 22%;
    font-size: 18px
}
.track-detail .needs_box {
    margin-bottom: 30px
}
.single_content .post-thumbnail {
    float: left;
    margin-bottom: 0;
    overflow: hidden
}
.post-thumbnail img {
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.single_content .become_driver h2 {
    border: 0;
    color: #000;
    font-family: segoe ui;
    font-size: 18px;
    padding: 0
}
#primary .masg-text {
    color: #000;
    font-size: 18px!important;
    text-align: center
}
.single_content .become_driver .logged-in-as>a {
    background: #000;
    color: #fff;
    font-family: latobold;
    font-size: 13px;
    letter-spacing: .5px;
    padding: 6px 12px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.single_content .become_driver .logged-in-as>a:hover {
    background: #7F3F98
}
.single_content .become_driver .comment-form-comment>label {
    color: #000;
    font-size: 13px
}
.single_content .become_driver textarea {
    height: 105px
}
.single_content .become_driver .logged-in-as {
    line-height: 2.615;
    margin-bottom: 1.154em
}
.single_content .become_driver .comments-area {
    margin: 0 0 10px
}
.help_page .help_inner:nth-child(4n+4) {
    margin-right: 0
}
.help-content {
    background: #fefefe;
    border: 1px solid #eaeae7;
    box-shadow: 0 0 2px rgba(204, 204, 204, .8);
    float: left;
    margin: 0 10px 20px;
    padding: 20px;
    width: calc(100% - 22px);
    position: relative
}
.help_inner {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: -2px;
    margin-right: -2px;
    padding: 0 6px;
    vertical-align: top;
    width: 25%
}
.form-help,
.your_business {
    position: relative;
    z-index: 9
}
.your_business_page::after {
    background: rgba(0, 0, 0, .3);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
.your_business_page {
    position: relative
}
.track-parcel h3 {
    color: #fff;
    font-family: ralewaybold;
    font-size: 27px;
    padding-bottom: 5px;
    text-align: left;
    width: 95%;
    margin-left: 82px
}
.track-parcel .btn.form-control {
    margin: 0;
    vertical-align: top
}
.track-parcel .error-msg {
    display: none
}
.track-parcel .masthead__findtrack {
    background: rgba(0, 0, 0, .5);
    border-bottom: medium none;
    color: #fff;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 13px 15px 13px 40px;
    position: relative;
    text-transform: uppercase;
    margin-left: 82px;
    font-family: segoe ui
}
.masthead__findtrack::after,
.masthead__findtrack::before {
    background-color: #fff;
    content: "";
    position: absolute
}
.trackcard__trigger::after,
.trackcard__trigger::before {
    backface-visibility: hidden;
    transition: all .2s ease-out 0s
}
.masthead__findtrack::after {
    height: 17px;
    left: 19px;
    top: 13px;
    width: 3px
}
.masthead__findtrack::before {
    height: 3px;
    left: 12px;
    top: 20px;
    width: 17px
}
.track-parcel .form-control {
    padding: 8px 20px
}
.page-id-8 .business_content h2 {
    line-height: 85px
}
.become_driver.track-cont h2 {
    color: #000;
    font-family: latoblack;
    font-size: 2.5rem;
    margin-bottom: 8px
}
.become_driver.track-cont p:empty {
    display: none
}
.track-hedding {
    float: left;
    font-size: 32px;
    margin-bottom: 46px;
    margin-top: 30px;
    text-align: center;
    width: 100%
}
.track-hedding h1 {
    color: #000;
    font-family: ralewaybold;
    font-size: 30px
}
footer.entry-footer {
    float: left;
    margin: 4px 0!important
}
.entry-content,
.entry-header,
.entry-summary,
.page-header,
.site-main {
    margin: 0!important
}
.page-header {
    border: 0;
    float: left;
    padding: 0;
    width: 100%
}
.single_content .entry-content {
    color: #000;
    padding-left: 15px;
    text-align: justify;
    width: 72%!important
}
.become_driver .comments-area .required {
    color: red
}
.become_driver .comments-area .comment-notes {
    color: #000;
    font-size: 13px;
    margin: 0 0 8px
}
.become_driver .comments-area .comment-respond {
    border: 1px solid #f5f5f5;
    box-shadow: 0 0 2px #ccc;
    padding: 10px 15px 15px!important
}
.become_driver .comments-area form {
    padding: 0!important
}
.become_driver .comments-area .comment-form label {
    color: #000;
    font-size: 13px
}
.become_driver .comments-area .comment-form textarea {
    background: #fcfcfc;
    height: 85px!important
}
.become_driver .comments-area .comment-form input {
    background: #fcfcfc;
    height: 36px;
    padding: 5px 15px
}
.become_driver .comments-area .comment-form-author,
.become_driver .comments-area .comment-form-email {
    display: inline-block;
    margin-right: 8.5px;
    width: 32.6%
}
.become_driver .comments-area .comment-form-url {
    display: inline-block;
    width: 32.5%
}
.become_driver .comments-area .submit {
    background: #000!important;
    border-radius: 0;
    padding: 6px 20px;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    margin-top: 8px
}
.become_driver .comments-area .submit:hover {
    background: #7F3F98!important
}
.become_driver .comments-area .comment-author img {
    border: 1px solid #ccc;
    height: 60px!important;
    padding: 5px;
    width: 60px!important
}
.become_driver .comments-area .url {
    color: #000;
    font-size: 13px;
    letter-spacing: .5px;
    text-transform: capitalize
}
.become_driver .comments-area .comment-metadata {
    color: #000!important;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 5px
}
.become_driver .comments-area .comment-awaiting-moderation {
    display: none
}
.become_driver .comments-area .comment-reply-link {
    background: #000;
    color: #fff;
    font-family: latobold;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 12px;
    padding: 8px 15px
}
.become_driver .comments-area .comment-content {
    background: #f0f0f0;
    border-left: 5px solid #000;
    float: left;
    font-size: 13px;
    margin-top: 20px;
    padding: 8px 15px;
    width: 100%
}
.page-id-12 .help_page,
.page-id-8 .pages_wight {
    background: 0 0
}
.become_driver .comments-area .comment-content>p {
    font-size: 14px
}
.become_driver.help_page h1,
.entry-title,
.page-title {
    color: #000;
    font-family: latoblack;
    font-size: 35px;
    margin-bottom: 55px;
    margin-top: 18px;
    text-align: center
}
.help_main-cont {
    display: inline-block;
    margin: 0 -13px 0 -7px
}
.border_text br,
.business_needs>p:empty,
.close {
    display: none
}
.box-wight {
    position: relative;
    z-index: 9
}
.help-content .close {
    border: 1px solid #000;
    border-radius: 25px;
    height: 25px;
    text-align: center;
    width: 25px
}
.distributor_title,
.inner-cont-trek {
    border-bottom: 1px solid #efefef;
    margin-bottom: 40px;
    padding-bottom: 20px
}
.page-id-8 .become_driver {
    border: 5px solid #eaeaea
}
.page-id-8 .track-hedding {
    margin-bottom: 50px;
    margin-top: 45px
}
.hr_border,
.page-id-8 .enquiry+hr {
    margin: 40px 0
}
.inner-cont-trek>p {
    font-family: segoe_uiregular;
    font-size: 15px;
    line-height: 22px
}
.carreer_box p,
.distributor_content p,
.graybox>p {
    font-family: latoregular;
    line-height: 22px;
    color: #000
}
.distributor_content p {
    font-size: 15px
}
.carreer_box p,
.graybox>p {
    font-size: 14px;
    text-align: left
}
.box-1 h3,
.box-1 h4 {
    font-family: ralewaybold
}
.postid-268 .your_business .business_content h2,
.postid-269 .your_business .business_content h2,
.postid-274 .business_content h2 {
    line-height: 85px
}
.box-1,
.massg-main-content p {
    text-align: center
}
.graybox>p {
    font-size: 15px
}
.become_driver .border_text>h3 {
    color: #000;
    margin: 5px 0;
    text-transform: capitalize
}
.page-id-37 .help_main-cont {
    display: block;
    margin: 0 auto!important;
    width: 75%
}
.become_driver .entry-content br,
.post-171 .become_driver.post_driver:after {
    display: none
}
.page-id-37 .help_page .taxonomies_name {
    width: calc(33% - 16px)
}
#primary .page-title,
.entry-title {
    margin-top: 30px;
    text-transform: uppercase
}
.become_driver .entry-content {
    width: 100%!important;
    padding: 0
}
.become_driver:hover {
    box-shadow: 0 0 2px #ccc
}
.become_driver.post_driver:after {
    background-image: url(../images/post__enterprises.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -140px
}
.become_driver.post_driver,
.box-1 li {
    position: relative
}
.become_driver.post_driver .entry-content {
    position: relative;
    z-index: 9
}
.box-1 h3,
.box-1 li {
    color: #000;
    display: inline-block
}
.track-parcel .business_region {
    margin-bottom: 0
}
.helping-sce .col-md-4.col-sm-4.no-pad .zoom-effct {
    margin-top: 43px;
    padding-left: 15px
}
.client-zone-img .zoom-effct {
    max-height: 240px
}
.box-1 {
    border-bottom: 2px solid #e2e2e2;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 80%
}
.box-1 h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 54px;
    text-transform: capitalize
}
.box-1 h4 {
    color: #000;
    font-size: 18px;
    margin-bottom: 28px
}
.box-1>ul {
    float: left;
    width: 100%;
    margin-bottom: 24px
}
.box-1 li {
    font-size: 15px;
    width: 100%
}
.box-1 li span::after {
    background: #7F3F98;
    border-radius: 20px;
    height: 8px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 8px
}
.box-1 li span {
    position: relative;
    margin-right: 15px
}
.box-1 .btn.btn--black {
    background: #7F3F98;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 10px 25px;
    border-color: #7F3F98;
    color: #fff
}
.box-1 .btn.btn--black:hover {
    background: #000;
    border-color: #000
}
.rate-national .border_text br {
    display: block
}
p::-moz-selection {
    background: #7F3F98;
    color: #fff
}
p::selection {
    background: #7F3F98;
    color: #fff
}
.page-id-19 .box-wight li {
    display: block;
    margin-bottom: 10px
}
.page-id-19 .box-wight li input {
    width: 100%
}
.page-id-19 .box-wight {
    display: table;
    float: none;
    margin: 0 auto;
    width: 45%
}
.ship-more h2 {
    color: #000;
    font-size: 17px;
    margin: 0
}
.ship-more h1 {
    color: #000;
    font-size: 20px;
    margin: 10px 0 5px
}
.ship-more ul.text-center {
    float: left;
    width: 100%;
    margin-top: 15px
}
.ship-more .text-center>li {
    align-self: center;
    background: #f8f8f8;
    box-shadow: 0 0 2px #ccc;
    display: table;
    float: left;
    height: 125px;
    margin-right: 15px;
    width: 24%;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.ship-more .text-center>li:hover {
    box-shadow: 0 2px 2px #ccc
}
.border_text a {
    color: #7f3f98;
    font-size: 15px
}
.ship-more .border_text span {
    float: right
}
.ship-more .text-center>li:last-child {
    margin: 0
}
.ship-more .text-center span {
    display: table-cell;
    vertical-align: middle
}
.become_driver p {
    font-size: 16px!important
}
.become_driver h4 {
    font-size: 2.5rem
}
.become_driver .border_text>h3 {
    font-size: 2.5rem;
    letter-spacing: .5px;
    font-family: latoblack
}
.ship-more .border_text h3 {
    margin-bottom: 35px
}
.ship-more .border_text h4 {
    margin-bottom: 10px
}
.ship-more .border_text {
    margin-bottom: 12px
}
.packaging_shipment .border-packaging>h1 {
    color: #000;
    font-size: 18px;
    margin: 0
}
.packaging_shipment .border-packaging>h2 {
    font-size: 16.3px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0 0
}
.packaging_shipment .border-packaging {
    background: #fafafa;
    border: 0;
    box-shadow: 0 0 1px #e6e6e6;
    margin-bottom: 20px;
    padding: 10px
}
.ship-more a,
.ship-more p a {
    color: #fff;
    display: inline-block;
    padding: 6px 20px
}
.post-53 .become_driver h3 span {
    margin-left: 5px
}
.ship-more a {
    background: purple;
    margin-top: 10px
}
.ship-more p a {
    background: #7f5bb7;
    margin-top: 15px;
    transition: all .5s ease 0s
}
.ship-more p a:hover {
    background: #000
}
#primary p {
    font-size: 16.3px!important
}
.inner-cont-trek>p br {
    display: none
}
#tracking__track .business_region>li:first-child {
    max-width: 485px;
    width: 100%
}
#tracking__track .business_region {
    width: 86%
}
.page-id-14 #primary p {
    font-size: 17px!important
}
#primary .entry-content .become_driver {
    font-size: 16px;
    color: #111
}
.become_driver.im_lives .border_text>p {
    color: #000;
    margin-bottom: 18px
}
.become_driver.im_lives .border_text>h3 {
    margin-bottom: 10px
}
.become_driver.post_driver .entry-content h3 {
    color: #000;
    font-family: latoblack;
    font-size: 2.5rem;
    margin-bottom: 8px
}
.become_driver.trim_condision br {
    display: block
}
.carreer_box p span {
    font-size: 19px
}
.carreer_box br {
    display: none
}
.become_driver.trim_condision>h3 {
    font-family: latoblack;
    font-size: 32px;
    margin-top: 0
}
.become_driver.trim_condision>h3+h3 {
    margin-bottom: 15px
}
.become_driver.post_driver .entry-content h4 {
    font-family: latoblack;
    font-size: 2.5rem
}
#headFi .carousel-caption h1 {
  color: #ffffff;
  font-family: ralewaybold;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 75px;
  text-transform: capitalize;
}
.post_driver .border_text>h3 {
    font-family: latobold!important;
    font-size: 20px!important;
    letter-spacing: .9px!important
}
.post_driver .border_text {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
    padding-bottom: 10px
}
.carousel-caption .box-wight {
    margin-top: 50px
}
.post_driver .border_text h1 {
    color: #7f3f98;
    font-family: latoblack;
    font-size: 2.5rem;
    letter-spacing: .5px;
    margin-bottom: 0
}
.post_driver .border_text h5 {
    font-family: latoregular;
    font-size: 15px;
    margin: 0 0 10px
}
.post_driver .border_text span {
    color: #7f3f98
}
.border_text.border-none-our {
    border: 0
}
.border_text b {
    font-size: 14px
}
.masg-text>label {
    color: #7f3f98;
    margin-right: 5px
}
.box-content-massg {
    float: left;
    padding: 0 15px;
    width: 100%
}
.box-content-massg .box-magss label {
    color: #7f3f98;
    display: inline-block;
    font-family: latoblack;
    letter-spacing: 1px;
    margin: 0 10px 0 0;
    text-transform: uppercase;
    width: 178px
}
.massg-main-content {
    background: #fdfdfd;
    display: block;
    margin: 0 auto;
    padding: 15px;
    width: 50%
}
.massg-main-content>h3 {
    color: #000;
    font-family: latoblack;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase
}
#primary .box-magss>p {
    color: #000;
    font-size: 20px!important;
    text-transform: lowercase
}
.page-id-35 h1 {
    color: #000;
    font-family: latoblack;
    font-size: 32px
}
.page-id-35 h1.testimonial-text {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 25px
}
#post-288 .become_driver.post_driver .entry-content h3 {
    font-family: latoblack!important;
    font-size: 2.2rem!important
}
.box-magss p {
    text-align: left
}
.post-31 .become_driver h3 {
    color: #7f4098;
    font-family: latoblack;
    font-size: 20px!important
}
.become_driver.post_driver .entry-content h3 {
    margin-top: 0
}
.single-testimonial .become_driver>h3 {
    color: #7f3f98;
    display: block;
    font-family: latobold;
    font-size: 20px;
    text-align: right
}
.single-testimonial .become_driver {
    background: #fff;
    float: left;
    font-family: latoregular;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid #f4f4f4
}
.page-id-35 .content-area {
    background: #fff;
    padding: 15px
}
.box-magss li,
.massg-main-content td {
    vertical-align: top;
    padding-right: 5px
}
.single-testimonial .become_driver h3 span {
    font-size: 16px;
    font-style: italic
}
.box-magss li {
    border-right: 1px solid #d8d8d8;
    display: inline-block;
    min-height: 69px;
    padding-left: 8px;
    width: 169px
}
#primary .massg-main-content .box-magss p {
    font-size: 13px!important;
    margin: 0;
    margin-bottom: 6px!important
}
.box-content-massg .box-magss label {
    font-size: 16px
}
.box-magss li:first-child {
    padding-left: 0
}
.box-magss li:last-child {
    border: 0
}
.client-zone {
    padding-top: 45px
}
.post_driver .border_text h5 {
    display: inline-block;
    margin-right: 20px!important
}
.massg-main-content table,
.massg-main-content td,
.massg-main-content th,
.massg-main-content tr {
    border: 0!important
}
.massg-main-content td {
    padding-bottom: 10px;
    padding-top: 5px
}
.ourservies h3 p {
    display: inline-block;
    font-family: latoregular;
    font-weight: 400
}
.ourservies span {
    color: #7f3f98;
    display: block;
    font-family: latobold;
    font-size: 18px;
    margin-bottom: 6px
}
.ourservies>p {
    margin-bottom: 15px
}
.ourservies {
    position: relative;
    z-index: 9
}
.become_driver.post_driver .ourservies h2 {
    font-family: latoblack;
    font-size: 22px;
    letter-spacing: 1px;
    margin: 0 0 12px;
    text-transform: uppercase
}
.post-53 .become_driver.post_driver .ourservies strong {
    font-size: 15px
}
.page-id-35 .become_driver:hover {
    box-shadow: none
}
.wpcf7-form.invalid {
    float: left;
    position: relative
}
.wpcf7-form.invalid .wpcf7-response-output {
    bottom: 0;
    left: 16%;
    position: absolute
}
.your_business .business_region .c_error,
.your_business .business_region .p_error {
    background: red;
    bottom: -45px;
    color: #fff;
    font-size: 15px;
    left: 1px;
    padding: 5px 15px;
    position: absolute
}
div.wpcf7-validation-errors {
    border-color: #e52c00
}
#pass_error,
#username_error {
    color: red
}
.have_your_sec .title_text_red {
    font-size: 80px;
    line-height: 85px
}
#more_sizes_added1 {
    float: left;
    width: 100%
}
.delete_more_sizes {
    margin-bottom: 10px
}
.addanther_sec .btn,
.servies-content.become_driver a {
    background: #7f3f98;
    color: #fff;
    display: inline-block;
    padding: 6px 25px;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    font-family: latobold;
    border-color: #7f3f98;
    border-radius: 0
}
.addanther_sec .btn:hover,
.servies-content.become_driver a:hover {
    background: #000;
    border-color: #000
}
#wpcf7-f159-p160-o1 .wpcf7-response-output {
    bottom: 18px;
    left: 16%;
    position: absolute
}
#wpcf7-f159-p160-o1 .wpcf7 {
    float: left;
    position: relative;
    width: 100%
}
.order-cont .sectiontitle {
    font-family: latoblack
}
.parsel_container .gray_box label {
    letter-spacing: .5px;
    line-height: 30px
}
.order-cont .gray_box .name .form-control.my_parcel_detail:last-child {
    margin-right: 0
}
.parsel_container .order-cont .gray_box .name input[type=text] {
    width: 37%
}
.order-cont .form-control::-webkit-input-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important
}
.order-cont .form-control::-moz-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important
}
.order-cont .form-control::-webkit-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important
}
.order-cont .form-control:-ms-input-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important
}
.form-control:-moz-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important
}
.order-cont .form-control {
    font-size: 16px;
    height: 40px;
    padding: 6px 12px
}
.order-cont select.form-control {
    font-family: segoe ui!important;
    font-weight: 700;
    letter-spacing: .5px;
    color: #777
}
.parsel_container .order-cont .gray_box .form-control {
    margin-right: 10px
}
.parsel_container .order-cont .gray_box .col-md-4.col-sm-5 .form-control.my_parcel_detail {
    margin-right: 0
}
.order-cont .tnc>a {
    color: #7f3f98;
    float: right!important;
}
.order-cont .addanther_sec {
    float: left;
    width: 100%;
    padding-bottom: 20px
}
.order-cont .tnc>input {
    margin-right: 4px;
    vertical-align: text-top
}
.servies-content .btn {
    background: #7f3f98;
    border-color: #7f3f98;
    border-radius: 0;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}
.servies-content .btn-success {
    border-color: #7f3f98
}
.order-cont .btn:hover,
.servies-content .btn-success:hover {
    background: #000;
    color: #fff;
    border-color: #000
}
.order-cont .addanther_sec i {
    margin-right: 4px
}
.order-cont .form-control:focus {
    border-color: #7f3f98;
    box-shadow: none
}
.order-cont .pcontent .form-control.my_parcel_detail {
    margin-right: 0!important;
    width: 75.5%
}
.parsel_container .order-cont .gray_box .input-group {
    width: 70%
}
.order-cont .input-group .form-control.my_parcel_detail {
    margin-right: 0!important;
    width: 100%!important
}
.order-cont .input-group-addon {
    color: #000;
    font-family: latobold
}
.order-cont .control-label {
    text-align: left
}
.order-cont.collection_details .sectiontitle {
    color: #000;
    font-family: latoblack!important;
    font-size: 3.6rem!important;
    margin-bottom: 30px!important
}
.order-cont.collection_details .form-control:focus {
    background: #f6f6f6
}
.order-cont.collection_details .gray_box.withpad {
    background: rgba(0, 0, 0, 0);
    border: 0;
    margin-bottom: 20px;
    padding: 0!important
}
.order-cont.collection_details .sectiontitle.last-hedding {
    margin-bottom: 15px!important
}
.order-cont.collection_details .form-control option {
    padding: 10px 20px
}
.last_order table {
    margin-bottom: 0
}
.order-cont.collection_details .form-group {
    float: left;
    margin: 0 0 15px!important;
    width: 49%
}
.parsel_container p .tnc {
    line-height: 30px
}
.order-active {
    background: #000
}
.form-p .Select #select,
.form-p .Time #time {
    background-image: url(../images/caret-down.png);
    background-position: 98% 13px;
    background-repeat: no-repeat;
    background-size: 38px auto;
    -moz-appearance: none;
    text-indent: .01px;
    text-overflow: ""
}
.parsel_container .order-cont .gray_box .col-md-4.col-sm-5 .form-control.my_parcel_detail {
    width: 83.5%
}
.form_enquiry .chek_box input {
    height: 27px!important
}
.order-cont .gray_box .close {
    border: 1px solid red;
    border-radius: 20px;
    color: red;
    display: block;
    font-size: 18px;
    line-height: 13px;
    opacity: .5;
    padding: 2px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 5px
}
.form-p .Select #select,
.form-p .Time #time,
.form-p span #aws-number,
.form-p span #date,
.form-p span #last-name {
    border: none;
    color: #000;
    font-family: ralewaybold;
    font-size: 16px;
    height: 60px
}
.parsel_container .order-cont .gray_box {
    padding: 30px 15px 10px;
    position: relative
}
.parsel_container .order-cont .gray_box .close>span {
    line-height: 11px!important;
    vertical-align: top
}
.wpcf7-form>.form-p {
    float: left;
    padding: 0 5px;
    width: 50%
}
#wpcf7-f432-p274-o1 .wpcf7-form:nth-child(10),
#wpcf7-f432-p274-o1 .wpcf7-form:nth-child(4),
#wpcf7-f432-p274-o1 .wpcf7-form:nth-child(6),
#wpcf7-f432-p274-o1 .wpcf7-form:nth-child(8) {
    display: none
}
.form-p .Select {
    width: 100%!important;
    display: block
}
.form-p .Select #select {
    width: 100%
}
.form-p .Time {
    width: 100%!important;
    display: block
}
.form-p .Time #time {
    width: 100%
}
.form-p.form-text {
    float: left;
    width: 100%
}
.form-p span #aws-number,
.form-p span #date,
.form-p span #last-name {
    background: #f0f0f0;
    box-shadow: none
}
.business_region select.form-control,
.form_enquiry .enquiry select {
    -moz-appearance: none;
    background-image: url(../images/caret-down.png);
    background-position: 98% 13px;
    background-repeat: no-repeat;
    background-size: 38px auto;
    text-indent: .01px;
    text-overflow: ""
}
.wpcf7-mail-sent-ok,
.wpcf7-validation-errors {
    width: 100%;
    float: left;
    position: static!important
}
.content-serv.border_text {
    border: 5px solid #f5f5f5;
    margin-top: 30px;
    padding: 8px 10px 5px 12px
}
.content-serv.border_text>p {
    margin-bottom: 8px
}
.input-group select.form-control {
    display: inline-block;
    width: 100%!important
}
.wpcf7-mail-sent-ng {
    border: 2px solid red;
    position: absolute;
    bottom: 0;
    left: 10px
}
.order-cont h3 {
    font-size: 24px!important;
    color: #4a4a4a
}
.order-cont .form-control,
.order-cont input,
.parsel_container .gray_box label {
    color: #4a4a4a;
    font-family: latoregular;
    font-weight: 400!important
}
.order-cont .form-control.my_parcel_detail::-webkit-input-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important;
    font-weight: 400!important
}
.order-cont .form-control.my_parcel_detail::-moz-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important;
    font-weight: 400!important
}
.order-cont .form-control.my_parcel_detail::-webkit-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important;
    font-weight: 400!important
}
.order-cont .form-control.my_parcel_detail:-ms-input-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important;
    font-weight: 400!important
}
.order-cont .form-control.my_parcel_detail:-moz-placeholder {
    color: #4a4a4a!important;
    font-family: latoregular!important;
    font-weight: 400!important
}
form.delivery-form .form-sec input,
form.delivery-form .form-sec select {
    box-shadow: none;
    border: none;
    color: #000;
    font-family: ralewaybold;
    font-size: 16px
}
.parsel_container .gray_box select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o--moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../images/down-arrow.png);
    background-position: 94% 15px;
    background-repeat: no-repeat;
    background-size: 12px auto;
    text-indent: .01px;
    text-overflow: ""
}
.wpcf7 form.wpcf7-form .form-p select,
form.delivery-form .form-sec select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ''
}
.business_needs_sec .business_needs p {
    text-transform: uppercase
}
form.delivery-form {
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    margin-top: 40px
}
form.delivery-form .form-sec {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding: 0 5px
}
form.delivery-form .form-sec input {
    background: #f0f0f0;
    height: 60px;
    width: 100%
}
form.delivery-form:after {
    background-image: url(../images/post__enterprises.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 0 -140px
}
form.delivery-form .form-sec select {
    background: url(../images/caret-down.png) 98% 13px no-repeat #f0f0f0;
    background-size: 38px auto;
    height: 60px;
    width: 100%
}
form.delivery-form .form-sec-last {
    width: 100%;
    float: left;
    margin-bottom: 10px
}
form.delivery-form .inr-form {
    position: relative;
    z-index: 9
}
.sliderSection .carousel-inner {
    max-height: 660px
}
.page-id-10 .business_region > li:nth-child(2) {
    margin: 0 5px;
}
.business_region button.form-control {
    margin-top: 53px;
}
.box-wight li {
    margin-right: 5px;
}


/*******15/02/2017*******/

.site-main .pagination{
  margin-left: 9%!important;
  margin-bottom: 20px;
}
.pagination .page-numbers.current {
  margin: 0!important;
  padding: 22px!important;
}
.pagination, .post-navigation, .post-navigation div + div {
  border-top: medium none!important;
}
.your_business_page{
	background-size: 100%;
}
.pagination .nav-links::after {
  top: 0 !important;
}


#primary .box-content-massg .massg-main-content{
    width: 60%;
}


.wrape_promo label {
  color: #000;
  font-family: segoe_uiregular;
  font-size: 17px !important;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: block;
  width: 100%;
}
.wrape_promo input {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  height: auto !important;
  padding-bottom: 16px;
  padding-top: 18px;
  width: 28%;
  margin-right: 135px;
}
.wrape_promo #get_quote{
    display: inline-block!important;
}


/*======12-5-2017======*/
#tracking__track > ul .treck-number input { background: #7f3f98 none repeat scroll 0 0; color: #ffffff; line-height: 30px; padding: 5px; text-align: center!important;text-align: center;}
#tracking__track > ul .treck-number { padding: 0; text-align: center;width: 136px;}
#tracking__track > ul.secd_drive li .set-del-link , #tracking__track > ul.secd_drive li .button_drive { background: #7f3f98 none repeat scroll 0 0; border-color: #7f3f98; color: #ffffff; text-align: center;  width: 265px;}
#tracking__track .treck-number { margin-left: 10px;}
.secd_drive .set-del-link{margin: 0 16px 0 0;}
.secd_drive { margin-top: 24px;}
/*#cd-intro-background { background: #ededed none repeat scroll 0 0!important;}*/
.location_page { float: left; text-align: center; width: 100%; margin-top: 50px;}
.location_page .img-driver { border: 1px solid #7f3e98; border-radius: 50%; height: 125px; margin: 0 auto; overflow: hidden; width: 125px; background:#fff; padding:5px;}
.driver-cont h4 {font-family: latoregular; font-size: 25px;font-weight: 300; letter-spacing: 1px; text-transform: capitalize; color: #ffffff; margin-top: 18px;}
.driver-cont h1 { color: #ffffff; font-family: ralewaybold; font-size: 30px; letter-spacing: 1px; margin-top: 20px; text-transform: uppercase;}
/*#cd-intro-background.your_business_page::after{background: none;}*/


/*===========*16-5-2017===========*/
.delivery-tracking .time-sutes h3 {color: #000000; font-family: ralewaybold; font-size: 30px; letter-spacing: 0.5px; line-height: 35px; text-align: center; }
#primary .delivery-tracking .time-sutes p { color: #000000; font-family:'ralewayregular'; font-size: 15px!important;text-align: center; margin-bottom: 0;}
.delivery-tracking .time-sutes { float: left; text-align: center; width: 100%;}
.time-sutes .box-time {border: 2px solid #7f3f98; border-radius: 4px; display: inline-block; float: none; line-height: 40px; margin-top: 40px; min-width: 65%;}
.delivery-tracking .box-time span {border-bottom: 1px solid #000000; color: #000000; font-family: segoe_uiregular; font-size: 22px;}
.delivery-tracking .parcel-table .Parcel-box h3 {background: #7f3f98 none repeat scroll 0 0; box-shadow: 0 3px 4px #989898; color: #ffffff; font-family: ralewaybold; font-size: 20px; padding: 20px 15px; text-transform: uppercase; letter-spacing: .5px;}
.delivery-tracking .Parcel-box { background: #ffffff none repeat scroll 0 0; float: left; width: 100%;}
#primary .delivery-tracking .Parcel-box p { color: #000000; font-family: latoregular; font-size: 24px!important; font-weight: 500; letter-spacing: 0.5px; margin-top: 35px; padding-left: 30px;}
.delivery-tracking .Parcel-box  table { border: 0 none; margin-top: 55px; margin-bottom: 55px;}
.delivery-tracking .Parcel-box th { border-bottom: 1px dashed #b2b2b2; border-left: 0 none; border-right: 0 none; font-family: "AvenirNextLTPro-Bold"; font-size: 20px; letter-spacing: 0.5px; padding: 6px 10px 25px 38px; color: #000;}
.delivery-tracking .Parcel-box table td { border-bottom: 1px dashed #b2b2b2; border-right: 0 none; font-size: 15px; padding: 12px 7px 12px 38px; font-family:'AvenirNextLTPro-Regular';}
.delivery-tracking .parcel-table .rate-delivery { background: #7f3f98 none repeat scroll 0 0; border-radius: 40px; color: #ffffff; display: inline-block; font-family: "AvenirNextLTPro-Bold"; font-size: 20px; line-height: 55px; margin: 0 auto ; min-width: 370px; text-align: center; text-transform: uppercase; box-shadow: 0 1px 12px #676767;}
.delivery-tracking .parcel-table .btn-rate { float: left; margin-top: 50px; text-align: center; width: 100%;}
.circle-sec.col-md-12.col-sm-12 {text-align: center;}
.circle-sec .circle_status { display: inline-block; margin: 28px 0 8px; min-width: 60%; padding-left: 75px;}
.circle_status .circle-img , .circle_status .status-driver-content{ display: inline-block; vertical-align: middle;}
.circle_status .status-driver-content{text-align: left;}
#primary .status-driver p {color: #7f3f98; font-family: sans-serif; font-size: 18px!important; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 4px;}
.status-driver { float: left; margin-bottom: 25px; width: 100%;}
.delivery-tracking .circle-img { margin-right: 52px; position: relative;}
.track_queue {
  font-size: 30px;
  left: 25%;
  position: absolute;
  text-transform: capitalize;
  top: 27%;
  width: 110px;
}
.track_queue span{
  font-weight: bold; 
}
.status-driver span { color: #000000; font-family: latoregular; font-size: 28px; line-height: 30px;}
.delivery-tracking .circle-img > img {max-width: 250px;}

/*===========*saurabh 18-5-2017 css start here===========*/
.delivery_section.rating-box {border-radius: 15px;padding: 31px;text-align: center;margin-bottom: 40px;}
.delivery_section.rating-box h3 {color: #000000;font-family: ralewaybold;font-size: 26px;letter-spacing: 0.5px;line-height: 34px;}
.delivery_section.rating-box h2 {border-bottom: 2px solid #cfcfcf;color: #602f71;font-family: ralewaybold;font-size: 30px;letter-spacing: 2px;line-height: 40px;padding-bottom: 25px; margin-bottom: 0;}
.delivery_section.rating-box p {font-family: sans-serif;font-size: 20px;letter-spacing: 3px;line-height: 30px;margin-bottom: 40px;
  padding-top: 20px;}
.delivery_section.rating-box .remind {border-bottom: 2px solid #000000;color: #000000;font-family: sans-serif;font-size: 20px;       letter-spacing: 2px;line-height: 30px;margin-top: 70px;padding-bottom: 0;}
.delivery_section.rating-box .jq-ry-container {margin-bottom: 0;margin-left: auto;margin-right: auto;padding: 30px 5px 0;}
.delivery_section.rating-box .jq-ry-container::after {background: #ededed;content: "";height: 100px;left: -260px;position: absolute;top: 0;
  width: 690px;}
  .remind_later {float: left;margin-top: 70px;width: 100%;}
.delivery_section.rating-box .remind_later .send_btn {background: #7f3f98 none repeat scroll 0 0;border-radius: 40px;color: #ffffff;      display:block;font-family: "AvenirNextLTPro-Bold";font-size: 20px;line-height: 55px;margin: 20px auto 0;width:250px;text-align: center;
  text-transform: uppercase;box-shadow: 0 1px 12px #676767;}
.fancybox-close-small:hover {background: #fff;}
.success-msg{color:green;}
 .your_business .location_page .img-driver img {height: 125px!important;}
/*===========*saurabh 18-5-2017 css end here===========*/